---
import { ForgotPasswordForm } from "@/components/ForgotPassword";

import Layout from "@layouts/Layout.astro";
import { verifyToken } from "@/lib/auth/lucia";

import { Toaster } from "sonner";
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
const user = Astro.locals.user;
if (user) {
  return Astro.redirect("/app/", 302);
}

const { token } = Astro.params;
const tokenValid = await verifyToken(token ?? "");
if (!tokenValid) {
  return new Response("Token invalido", { status: 400 });
}
---

<Layout>
  <div class="flex justify-center content-center my-[6dvh]">
    <Card
      className="w-full max-w-2xl bg-slate-800 border  border-gray-700 shadow-2xl"
    >
      <CardHeader>
        <CardTitle>Cambiar Contraseña</CardTitle>
        <CardDescription>
          Por favor, ingrese su nueva contraseña.
        </CardDescription>
      </CardHeader>
      <CardContent>
        <ForgotPasswordForm token={token as string} client:load />
      </CardContent>
    </Card>
  </div>
  
  <Toaster
    richColors
    closeButton
    toastOptions={{
      classNames: {
        success: "bg-success-600",
        error: "bg-danger-600",
        loading: "bg-secondary-200",
      },
    }}
    client:load
  />
</Layout>
