---
import { ResetPasswordForm } from "@/components/ResetPasword";
import Layout from "@layouts/Layout.astro";
import { Toaster } from "sonner";

---

<Layout>
  <div class="flex justify-center content-center my-[6dvh]">
  
  <ResetPasswordForm client:load/>
  </div>
  <Toaster
              richColors
              closeButton
              toastOptions={{
                classNames: {
                  success: "bg-success-600",
                  error: "bg-danger-600",
                  loading: "bg-secondary-200",
                },
              }}
              client:only
            />
</Layout>
