---
import Avatar from "@components/ui/Avatar.astro";
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  description: string;
}
// import {Avatar,  AvatarFallback, AvatarImage} from "@/components/ui/avatar.tsx";
const { title, description } = Astro.props;
const user = Astro.locals.user;
---

<header class="flex justify-between items-center p-6">
  <div class="flex items-center space-x-4 lg:space-x-0">
    <button
      @click="sidebarOpen = true"
      class="text-gray-500 dark:text-gray-300 focus:outline-none lg:hidden"
    >
      <Icon name="mdi:menu" class="h-10 w-10" />
    </button>

    <div>
      <h1 class="text-2xl font-medium text-gray-800 dark:text-white">
        {title}
      </h1>
      <p>{description}</p>
    </div>
  </div>

  <div class="flex items-center space-x-4">
    <button class="flex text-gray-600 dark:text-gray-300 focus:outline-none">
      <Icon name="mdi:bell-outline" class="h-5 w-5" />
    </button>

    <div x-data="{ dropdownOpen: false }" class="relative">
      <button
        @click="dropdownOpen = ! dropdownOpen"
        class="flex items-center space-x-2 relative focus:outline-none"
      >
        <h2 class="text-gray-700 dark:text-gray-300 text-sm hidden sm:block">
          {user?.username}
        </h2>
        {
          user?.userimage ? (
            <Avatar src={user?.userimage} alt={user?.username ?? ""} />
          ) : (
            <Avatar alt={user?.username ?? ""} />
          )
        }
      </button>

      <div
        class="absolute right-0 mt-2 w-48 dark:bg-shank-950 bg-white rounded-md overflow-hidden shadow-xl z-10"
        x-show="dropdownOpen"
        x-transition:enter="transition ease-out duration-100 transform"
        x-transition:enter-start="opacity-0 scale-95"
        x-transition:enter-end="opacity-100 scale-100"
        x-transition:leave="transition ease-in duration-75 transform"
        x-transition:leave-start="opacity-100 scale-100"
        x-transition:leave-end="opacity-0 scale-95"
        @click.away="dropdownOpen = false"
      >
        <!-- <a
          href="/app/perfil"
          class="block px-4 py-2 text-sm hover:bg-primary-700 hover:text-white"
          >Perfil</a
        > -->
        <a
          class="block px-4 py-2 text-sm hover:bg-primary-700 hover:text-white"
          href="/api/auth/singout"
        >
          Cerrar Session
        </a>
      </div>
    </div>
  </div>
</header>
