---
import Logo from "@components/ui/Logo.astro";
import { Icon } from "astro-icon/components";

interface Props {
  NavItems: {
    name: string;
    icon: string;
    href: string;
  }[];
}
const { NavItems } = Astro.props;
---

<div
  :class="sidebarOpen ? 'block' : 'hidden'"
  @click="sidebarOpen = false"
  class="fixed z-20 inset-0 bg-black opacity-50 transition-opacity lg:hidden"
>
</div>
<div
  :class="sidebarOpen ? 'translate-x-0 ease-out' : '-translate-x-full ease-in'"
  class="fixed z-30 inset-y-0 left-0 w-60 transition duration-300 transform bg-gray-900 overflow-y-auto lg:translate-x-0 lg:static lg:inset-0"
>
  <div class="flex items-center justify-center mt-8">
    <Logo size={"w-20"} variant={"primary"} loading={"eager"} />
  </div>

  <nav class="flex flex-col mt-10 px-4 gap-4">
    {
      NavItems.map((item) => (
        <a
          data-astro-prefetch="tap"
          href={item.href}
          class="flex items-center p-2 text-gray-100 hover:bg-blue-600 hover:text-white rounde text-xl rounded-md "
        >
          <Icon name={item.icon} />
          <span class="mx-4">{item.name}</span>
        </a>
      ))
    }
  </nav>
</div>
