* {
  @apply box-border m-0 p-0;
}
.iNP {
  @apply caret-[#1DA1F2] font-bold h-[50px] text-sm shadow-[inset_6px_6px_6px_#cbced1,inset_-6px_-6px_6px_white] box-border block w-[96%] transition-[background-color] duration-[0.5s] my-3 pl-5 p-2.5 rounded-[50px] border-[none];
}
.body {
  @apply w-screen h-screen flex items-center text-center justify-center place-items-center overflow-hidden m-0 bg-[#ecf0f3];
}
.CT {
  @apply relative w-[400px] h-auto box-border shadow-[14px_14px_20px_#cbced1,-14px_-14px_20px_white] overflow-hidden transition-[background-color] duration-[0.5s] my-[10%] p-10 rounded-[20px] bg-[#ecf0f3];
}
.brand-logo {
  @apply h-[100px] w-[100px] bg-[65px] bg-no-repeat bg-center object-cover object-[center,center] box-border shadow-[7px_7px_10px_#cbced1,-7px_-7px_10px_white] transition-[background-color] duration-[0.5s] m-auto rounded-[50%];
  font-family: IBMPlex;
  background: url('../src/assets/images/SIGDO-Logo/SIGDO-32.svg'), center;
}
.brand-title {
  @apply font-[1000] text-[1.8rem] text-[#0791e7] tracking-[1px] mt-2.5;
  font-family: IBMPlex;
  font-family: IBMPlex;
}
.Inputs {
  @apply text-left text-[#0791e7] transition-[background-color] duration-[0.5s] mt-[15px];
  font-family: IBMPlex;
}
.lb {
  @apply font-bold block w-full box-border mt-2.5 border-none font-roboto;;
  outline: none;
}
.lb :nth-of-type(2) {
  @apply mt-3;
}
.iNP::placeholder {
  @apply text-[gray];
}
.iNP {
  @apply font-roboto;
  background: #ecf0f3;
  outline: none;
}
.INP-error {
  @apply font-bold h-[50px] text-sm shadow-[inset_6px_6px_6px_#ff04045b,inset_-6px_-6px_6px_white] box-border block w-[96%] transition-[background-color] duration-[0.5s] my-3 pl-5 p-2.5 rounded-[50px] border-[none] bg-[#ecf0f3] font-roboto;;
  outline: none;
}
.eyesP {
  @apply mt-[-52px] ml-80 mb-2.5;
}
.btn {
  @apply font-bold text-[white] mt-[-90px] h-10 cursor-pointer shadow-[6px_6px_6px_#cbced1,-6px_-6px_6px_white] transition-[0.5s] block w-full box-border p-0 rounded-[20px] border-[none] hover:shadow-none bg-[#1DA1F2] font-roboto;;
  outline: none;
}
.btnMode {
  @apply text-white w-fit h-10 cursor-pointer font-medium shadow-[6px_6px_6px_#cbced1,-6px_-6px_6px_white] transition-[0.5s] block w-2/5 box-border ml-[60%] mt-[15px] rounded-[20px] border-[none] bg-[#1DA1F2];
  outline: none;
}
.messageError {
  @apply text-[13px] text-[red] font-roboto;; 
}
.icon {
  @apply mt-5;
}
.toggle {
  @apply absolute left-0 top-0;
}
.swichMood {
  @apply absolute mt-[-60%] mr-[-50%];
}
.socialmedia {
  @apply flex justify-center items-center relative ml-10;
  /* Establece el elemento como un contenedor flexible */
  /* Centra horizontalmente los elementos hijos */
  /* Centra verticalmente los elementos hijos */
}
.icon-wrapper {
  @apply align-middle inline-block -mt-px;
  /* Ajusta esto según sea necesario para alinear verticalmente */
}

.text-custom-font {
  @apply text-[13px]font-roboto;
}
/*dark-mode*/
.dark-mode.body {
  @apply w-screen h-screen text-[white] flex items-center text-center justify-center place-items-center overflow-hidden transition-[background-color] duration-[0.5s] m-0 bg-[#121212];
  /* Fondo oscuro */
  /* Texto en blanco */
  /* Animación de cambio de fondo */
}
.dark-mode .CT {
  @apply relative w-[400px] h-auto box-border shadow-[14px_14px_20px_#1DA1F2,-14px_-14px_20px_#025183] overflow-hidden transition-shadow duration-[0.5s] my-[10%] p-10 rounded-[20px] bg-[#121212];
}
.iNP:-webkit-autofill,
.iNP:-webkit-autofill:focus {
  @apply transition-[background-color] duration-[5000s] ease-[ease-in-out] delay-[0s];
}

/* Agrega estas reglas adicionales */
.iNP:-webkit-autofill::first-line,
.iNP:-webkit-autofill::first-line:focus {
  @apply text-inherit bg-inherit;
}
.iNP:-webkit-autofill::placeholder {
  @apply text-inherit opacity-50;
}
.dark-mode .iNP:-webkit-autofill,
.dark-mode .iNP:-webkit-autofill:focus,
.dark-mode .iNP:-webkit-autofill::first-line {
  @apply bg-black text-white;
}
.INP-error:-webkit-autofill,
.INP-error:-webkit-autofill:focus {
  @apply transition-[background-color] duration-[5000s] ease-[ease-in-out] delay-[0s];
}
.dark-mode .brand-logo {
  @apply h-[100px] w-[100px] bg-[65px] bg-no-repeat bg-center object-cover object-[center,center] box-border shadow-[6px_5px_10px_#1DA1F2,-2px_-2px_8px_#025183] transition-shadow duration-[0.5s] m-auto rounded-[50%];
  font-family: IBMPlex;
  background: url('../src/assets/images/SIGDO-Logo/SIGDO-32.svg'), center;
  /* Sombra en modo oscuro */
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.dark-mode .iNP {
  @apply font-bold text-white h-[50px] text-sm shadow-[inset_6px_6px_6px_#1e1e1e,inset_-6px_-6px_6px_#090909] box-border block w-[96%] my-3 pl-5 p-2.5 rounded-[50px] border-none bg-[#121212] font-roboto;;
  /* Sombra en modo oscuro */
  outline: none;
}
.dark-mode .btn {
  @apply font-bold text-[white] mt-[-90px] h-10 cursor-pointer font-medium shadow-[6px_6px_6px_#373737,-6px_-6px_6px_#090909] transition-[0.5s] block w-full box-border p-0 rounded-[20px] border-[none] bg-[#1da0f2cf] font-roboto;
  outline: none;
}
.dark-mode .INP-error {
  @apply font-bold text-[white] h-[50px] text-sm shadow-[inset_6px_6px_6px_#069bf28e,inset_-6px_-6px_6px_#090909] box-border block w-[96%] my-3 pl-5 p-2.5 rounded-[50px] border-[none] bg-black font-roboto;
  outline: none;
}
.CheckBox {
  @apply mt-[15%];
}
.textC {
  @apply text-sm font-roboto;
}
/*dark-mode-btextC*/
.dark-mode .text-custom-font {
  @apply text-[#069bf2] text-sm font-roboto;
}
.dark-mode .textp {
  @apply text-white text-sm font-roboto;
}
