
.checkbox-wrapper input[type='checkbox'] {
  @apply hidden;
}
.checkbox-wrapper .terms-label {
  @apply cursor-pointer flex items-center;
}
.checkbox-wrapper .terms-label .label-text {
  @apply ml-2.5;
}
.checkbox-wrapper .checkbox-svg {
  @apply w-[30px] h-[30px];
}
.checkbox-wrapper .checkbox-box {
  @apply fill-[rgba(207,205,205,0.425)] stroke-[#1DA1F2] transition-[stroke-dashoffset] duration-[0.6s] ease-[ease-in];
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
}
.checkbox-wrapper .checkbox-tick {
  @apply stroke-[#1DA1F2] transition-[stroke-dashoffset] duration-[0.6s] ease-[ease-in];
  stroke-dasharray: 172;
  stroke-dashoffset: 172;
}
.checkbox-wrapper input[type='checkbox']:checked + .terms-label .checkbox-box,
.checkbox-wrapper input[type='checkbox']:checked + .terms-label .checkbox-tick {
  stroke-dashoffset: 0;
}
.textA {
  font-family: 'IBMPlex';
}
.text {
  @apply text-[13px] ml-5;
  font-family: 'IBMPlex';
}
