@font-face {
    font-family: 'robotolight_italic';
    src: url('../src/fonts/Roboto-Web/roboto-light-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlex';
    src: url('../src/fonts/IBM_Plex_Sans_KR/IBMPlexSansKR-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratblack';
    src: url('../src/Montserrat-Web/montserrat-black-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.slide-container {
    @apply relative items-end h-[650px] mb-0 pt-[7%];
}
.custom-shape-divider-bottom-1712067135 {
    @apply absolute w-full overflow-hidden leading-[0] left-0 bottom-0;
}
.custom-shape-divider-bottom-1712067135 svg {
    @apply relative block w-[calc(152%_+_1.3px)] h-[115px];
}
.main-container-shadow{
    @apply max-w-[40%] shadow-[0_0_8px_#00000060] mx-auto my-0 p-[30px] rounded-md;
    background: linear-gradient(-45deg, rgba(255, 255, 255, 0.137), rgba(253, 251, 251, 0.137));
    filter: distort(25px);
}
.slide {
    @apply flex;
    background: #ffffff;
}

/* Nueva regla CSS para hacer el diseño más receptivo */
@media (max-width: 768px) {
    .content-container {
        @apply mx-[5%];
    }
}
.bg-slide {
    @apply max-w-[56%] box-border shadow-[0_0_16px_rgba(0,0,0,0.1)] mx-auto my-0 p-[18px] rounded-2xl;
    background: linear-gradient(-45deg, rgba(229, 229, 229, 0.7), rgba(229, 229, 229, 0.3));
    filter: distort(5px);
}
.bg-slide img {
    @apply max-w-[50%] h-auto mr-5;
}
.bg-slide h3 {
    @apply text-[2.8rem] font-thin text-[#007FFF] mb-[5px] pt-[30px] pb-3;
    font-family: 'IBMPlex';
}
.t-Title {
    @apply flex flex-col leading-[0.8] absolute text-[2.8rem] font-thin text-[rgba(255,255,255,0.5)] pl-[8%] pt-[9%];
    font-family: 'IBMPlex';

    /* Texto con color blanco y 50% de opacidad */
}
@media only screen and (max-width: 704px) {
    .t-Title {
        @apply hidden;
    }
    .main-container-shadow{
        @apply min-w-[90%];
    }
    .slide{
        @apply w-[400px];
    }
    .bg-slide img {
        @apply hidden;
    }
    .nametitle{
        @apply flex justify-center;
    }
    .Precio{
        @apply text-[10px] pl-[17%];
    }
    .duracion{
        @apply pb-5;
    }
    .photo {
        @apply flex justify-center items-center;

        /* Centra horizontalmente */
    }
}
@media only screen and (max-width: 804px) {
    .t-Title {
        @apply hidden;
    }
    .bg-slide {
        @apply min-w-[670px];
    }
    .photo {
        @apply flex justify-center items-center;

        /* Centra horizontalmente */

        /* Centra verticalmente */
    }
}
.descripcion {
    @apply text-[1.2rem] text-[#555] mb-3.5 m-[3px];
}
.photo{
    @apply mb-[-9%] pt-20;
}
.text {
    @apply text-xl m-auto;
    font-family: 'robotolight_italic';
}
.Precio {
    @apply text-3xl font-medium text-[#007FFF] mt-5;
    font-family: 'IBMPlex';
}
.duracion {
    @apply text-2xl text-[#888] ml-[70%] mt-[10%];
    font-family: 'robotolight_italic';
}
.offer-details {
    @apply text-[#888] flex flex-col justify-start pb-5;
}
/*site component*/
.wrapper {
    @apply flex gap-2.5;
    font-family: monospace;
}
.wrapper > div {
    @apply text-center;
}
.wrapper > div + div {
    border-inline-start: 1px solid #d6cfcf;
    padding-inline-start: 15px;
}
.wrapper > div > p {
    @apply max-w-[200px] mt-[15px];
}
.wrapper a {
    @apply inline-flex w-[60px] h-[60px] justify-center items-center bg-[#f8f8f8] text-[#007FFF] relative rounded-[100%];
}
.data-tooltip::before,
  .data-tooltip::after {
    @apply absolute invisible opacity-0 translate-y-[5px] transition-all duration-200 ease-in-out;
}
.data-tooltip::before {
    @apply content-[attr(data-tooltip-content)] w-fit text-[small] font-semibold bg-inherit rounded px-2.5 py-[3px] bottom-[calc(100%_+_5px)];
}
.data-tooltip::after {
    @apply content-[""] border-t-[5px] border-t-[#191919] border-x-[5px] border-x-transparent border-solid bottom-[calc(100%_+_1px)];
}
.data-tooltip:hover::before,
  .data-tooltip:hover::after {
    @apply visible opacity-100 translate-y-0;
}
.span-tooltip > i {
    @apply w-full h-full flex justify-center items-center;
}
.span-tooltip > span {
    @apply absolute w-fit text-[small] font-semibold bg-inherit rounded invisible opacity-0 transition-all duration-200 ease-in-out px-2.5 py-[3px] bottom-full before:absolute before:content-[""] before:w-2.5 before:h-2.5 before:bg-inherit before:rotate-45 before:top-[calc(100%_-_6px)] before:rounded-[3px] before:left-[40%];
}
.span-tooltip > i:hover + span {
    @apply visible opacity-100 bottom-[calc(100%_+_6px)];
}
  

/*bg*/

