
.iNP {
  @apply caret-[#1DA1F2] text-black font-[bold] h-[60px] text-sm shadow-[inset_6px_6px_6px_#cbced1,inset_-6px_-6px_6px_white] box-border block w-[96%] transition-[background-color] duration-[0.5s] -ml-2.5 mt-3 mb-[17px] pl-5 pt-[17px] p-2.5 rounded-[50px] border-[none] focus:text-black focus:font-[bold] focus:h-[60px] focus:text-sm focus:shadow-[inset_6px_6px_6px_#cbced1,inset_-6px_-6px_6px_white] focus:box-border focus:block focus:w-[96%] focus:-ml-2.5 focus:mt-3 focus:mb-[17px] focus:pl-5 focus:pt-[17px] focus:p-2.5 focus:rounded-[50px] focus:border-[none];
}
.body {
  @apply w-screen h-auto flex items-center text-center justify-center place-items-center overflow-hidden transition-[background-color] duration-[0.5s] bg-[#ecf0f3] dark:bg-[#121212] dark:text-white;
}
.CT {
  @apply relative w-[500px] h-auto box-border shadow-[14px_14px_20px_#cbced1,-14px_-14px_20px_white] overflow-hidden transition-shadow duration-[0.5s] my-[10%] p-10 rounded-[20px]  dark:shadow-[14px_14px_20px_#1DA1F2,-14px_-14px_20px_#025183];
}
/*CHECKbox*/
.label {
  @apply inline-flex items-center cursor-pointer text-[#394a56];
}
.label-text {
  @apply ml-4;
}
/* .toggle {
    @apply isolate relative h-[30px] w-[60px] overflow-hidden shadow-[-8px_-4px_8px_0px_#ffffff,8px_4px_12px_0px_#d1d9e6,4px_4px_4px_0px_#d1d9e6_inset,-4px_-4px_4px_0px_#ffffff_inset] rounded-[15px] absolute left-0 top-0;
}
.toggle-state {
    @apply hidden;
} */
/* .indicator {
    @apply h-full w-[200%] transition-transform duration-[0.4s] ease-[cubic-bezier(0.85,0.05,0.18,1.35)] shadow-[-8px_-4px_8px_0px_#ffffff,8px_4px_12px_0px_#d1d9e6] rounded-[15px] bg-[#ecf0f3];
    transform: translate3d(-75%, 0, 0);
} */
.Terminos {
  font-family: IBMPlex;
}
.toggle-state:checked ~ .indicator {
  transform: translate3d(25%, 0, 0);
}
.brand-logo {
  background: url('../src/assets/images/SIGDO-Logo/SIGDO-32.svg'), center;
  background-size: 65px;
  @apply h-[100px] w-[100px] bg-no-repeat bg-center object-cover box-border shadow-[7px_7px_10px_#cbced1,-7px_-7px_10px_white] transition-[background-color] duration-[0.5s] m-auto rounded-[50%] dark:shadow-[6px_5px_10px_#1DA1F2,-2px_-2px_8px_#025183];
}
.brand-title {
  @apply font-[1000] text-[1.8rem] text-[#0791e7] tracking-[1px] mb-[-7%] transition-[background-color] duration-[0.5s] mt-2.5;
  font-family: IBMPlex;
}
.Inputs {
  @apply text-left py-2 pl-10 w-full rounded-lg relative text-[#0791e7] font-[bold] transition-[background-color] duration-[0.5s] mt-[15px];
  font-family: robotolight_italic;
}
.lb {
  @apply font-[bold] block w-full box-border mt-[6%] border-[none];
  font-family: robotolight_italic;
  outline: none;
}
.lb :nth-of-type(2) {
  @apply mt-3;
}
.iNP::placeholder {
  @apply text-[gray] dark:text-[#d0d0d0];
}
.iNP {
  @apply bg-[#ecf0f3] dark:bg-[#121212] dark:text-white  transition-[background-color] duration-[0.5s]  dark:border-[none] dark:shadow-[inset_6px_6px_6px_#3c3c3c,inset_-6px_-6px_6px_#090909];
  font-family: robotolight_italic;
  outline: none;
}
.iNP:focus {
  @apply bg-[#ecf0f3] dark:bg-[#121212];
  font-family: robotolight_italic;
  outline: none;
}
.iNP:-webkit-autofill {
  @apply text-white font-[bold] h-[60px] text-sm shadow-[inset_6px_6px_6px_#cbced1,inset_-6px_-6px_6px_white] box-border block w-[96%] -ml-2.5 mt-3 mb-[17px] pl-5 pt-[17px] p-2.5 rounded-[50px] border-[none] bg-[#ecf0f3];
  font-family: robotolight_italic;
  outline: none;
}
.iNP:-webkit-autofill,
.iNP:-webkit-autofill:focus {
  @apply transition-[background-color] duration-[5000s] ease-[ease-in-out] delay-[0s];
}
/* Agrega estas reglas adicionales */
.iNP:-webkit-autofill::first-line,
.iNP:-webkit-autofill::first-line:focus {
  @apply text-inherit bg-inherit;
}
.iNP:-webkit-autofill::placeholder {
  @apply text-inherit opacity-50 dark:bg-black dark:text-white;
}
.INP-error:-webkit-autofill,
.INP-error:-webkit-autofill:focus {
  @apply transition-[background-color] duration-[5000s] ease-[ease-in-out] delay-[0s];
}
.INP-error:-webkit-autofill::first-line,
.INP-error:-webkit-autofill::first-line:focus {
  @apply text-inherit bg-inherit;
}
.INP-error:-webkit-autofill::placeholder {
  @apply text-inherit opacity-50 dark:bg-black dark:text-white;
}
.input:focus {
  @apply text-white font-[bold] h-[60px] text-sm shadow-[inset_6px_6px_6px_#cbced1,inset_-6px_-6px_6px_white] box-border block w-[96%] -ml-2.5 mt-3 mb-[17px] pl-5 pt-[17px] p-2.5 rounded-[50px] border-[none] bg-[#ecf0f3];
  font-family: robotolight_italic;
  outline: none;
}
.INP-error {
  @apply text-black font-[bold] h-[60px] text-sm shadow-[inset_6px_6px_6px_#ff040483,inset_-6px_-6px_6px_white] box-border block w-[96%] transition-[background-color] duration-[0.5s] -ml-2.5 mt-3 pl-5 p-2.5 rounded-[50px] border-[none] bg-[#ecf0f3] dark:bg-black dark:text-[#f8f8f8] dark:shadow-[inset_6px_6px_6px_#069bf28e,inset_-6px_-6px_6px_#090909];
  font-family: robotolight_italic;
  outline: none;
}
.eyesP {
  @apply mt-[-50px] mb-[-35%] ml-[98%];
}
.eye {
  @apply relative inline-block;
}
.btn {
  @apply text-[white] h-[50px] w-full cursor-pointer font-medium shadow-[6px_6px_6px_#cbced1,-6px_-6px_6px_white] transition-[0.5s] block m-auto box-border mt-10 p-0 rounded-[20px] border-[none] hover:shadow-none bg-[#1DA1F2] dark:text-white dark:bg-[#1da0f2cf] dark:shadow-[6px_6px_6px_#5d5d5d9d,-6px_-6px_6px_#090909];
  outline: none;
}
.btnMode {
  @apply text-white w-fit h-10 cursor-pointer font-medium shadow-[6px_6px_6px_#cbced1,-6px_-6px_6px_white] transition-[0.5s] block w-2/5 box-border ml-[60%] mt-[15px] rounded-[20px] border-[none] bg-[#1DA1F2] dark:text-white dark:shadow-[6px_6px_6px_#3c3c3c,-6px_-6px_6px_#090909];
  outline: none;
}
.messageError {
  @apply text-[13px] flex items-center font-medium tracking-wide text-xs mt-2 ml-1 text-[#ef0c0c];
  font-family: robotolight_italic;
}
.icon {
  @apply mt-5;
}
.container input {
  @apply absolute opacity-0 cursor-pointer h-0 w-0;
}
.container {
  @apply block relative cursor-pointer select-none mt-5 text-3xl;
}
/* Hide the default checkbox */
.CheckBox {
  @apply mt-[15%];
}
.textC {
  @apply dark:text-white text-center text-gray-600 text-sm;
  font-family: robotolight_italic;
}
.swichMood {
  @apply absolute mt-[-60%] mr-[-60%];
}
