

* {
  @apply box-border m-0 p-0;
}

.iNP {
  @apply caret-[#1DA1F2];
}

.body {
  @apply flex items-center text-center justify-center place-items-center overflow-hidden ;

}

.Historia {
  @apply opacity-0 translate-y-[100px] mt--40 h-auto flex items-center justify-center overflow-hidden m-0 pt-[4%];
  transition: opacity 0.7s ease, transform 0.4s ease;
}

.Historia.active {
  @apply opacity-100 translate-y-0;
}

.Historia {
  background: linear-gradient(to bottom, rgba(57, 111, 152, 0));
}

.Historia>div {
  @apply flex items-center text-center justify-center place-items-center;
}

@media (max-width: 768px) {
  .Historia {
    @apply flex-col flex-col h-full;
  }
}

.Histori_content {
  @apply w-screen h-screen flex items-center text-center justify-center place-items-center overflow-hidden m-0;
  background: url('../src/assets/images/SIGDO-Logo/SIGDO-32.svg') center center no-repeat;
}

.CONTENTTITLE {
  @apply flex flex-col justify-center;
}

.brand-title {
  @apply font-[1000] text-[2.2rem] text-white tracking-[2px] w-full mt-[7px] font-roboto;

}

.title {
  @apply inline text-secondary-950 tracking-[1px] text-[1.8rem] mt-5 mb-0 font-ibm;
}

#textoCambiante {
  @apply inline;
}

/*css card component*/
.card {
  position: relative;
  width: 390px;
  height: 350px;
  color: white;
  overflow: hidden;
  transition: box-shadow 0.3s;
  margin: 15px;
  border-radius: 20px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
  &:hover {
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
  }
  background: #090909;
}

.temporary_text {
  @apply font-bold text-2xl text-white px-3 py-1.5;
}

.card_title {
  @apply font-bold text-white leading-[17px];
}

.card_text {
  box-shadow: 4px 4px 10px #0360bc, -4px -4px 10px #5496d8;
}

.card_content {
  @apply absolute w-full translate-y-[150px] transition-transform duration-[0.25s] p-5 rounded-tl-[30px] left-0 bottom-0 before:content-[''] before:absolute before:top-[-47px] before:right-[-45px] before:w-[100px] before:h-[100px] before:rotate-[-175deg] before:rounded-[50%];

  /* edit the width to fit card */
  background: linear-gradient(-45deg, #069bf2 0%, #015281 100%);

  /* edit here to change the height of the content box */
}

.card_title {
  @apply font-roboto
}

.card_subtitle {
  @apply block text-[13px] mb-2.5 font-roboto font-light;
}

.card_description {
  @apply max-h-[130px] overflow-auto text-sm invisible transition-[visibility] duration-[0.5s] font-roboto;
}

.card:hover .card_content {
  @apply translate-y-0;
}

.card:hover .card_content_Blanco {
  @apply translate-y-0;
}

.card:hover .card_description {
  @apply visible;
}

.General_title {
  @apply mb-[-5%] font-[2500] text-[42px] tracking-[6px] text-[#069bf2] flex flex-col items-center text-center mt-[15px] font-roboto;
  /* Cambia la dirección de flexión a columna */

  /* Centra los elementos horizontalmente */

  /* Centra el texto */
}

.General_title h1 {
  @apply text-[2.2rem] mb-2.5;
}

.General_title h6 {
  @apply text-base font-ibm;

  /* Ajusta el tamaño del h6 según sea necesario */
}

/*CARTAS CSS*/
@media (max-width: 768px) {
  .carta {
    @apply h-full text-[15px] w-full;
  }

  .carta_content .btn {
    @apply mt-[3%];
  }

  .Historia_valores {
    @apply flex-col h-full;
  }
}

.carta {
  /* Replace unknown word "carta" with appropriate CSS properties */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 800px;
  width: 80%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  margin: 2%;
  padding: 8px;
  border-radius: 10px;
}

.carta::before {
  /* Replace unknown at rule "@apply" with appropriate CSS properties */
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  z-index: -1;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  left: 0;
  bottom: 0;
}

.carta:hover::before {
  @apply font-roboto h-full;
  color: white;
  box-shadow: none;
}


.carta_content {
  display: block;
  flex-direction: column;
  align-items: start;
  gap: 5;
  color: white;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.carta_content .heading {
  @apply font-bold text-[32px] font-roboto;
}

.carta :hover {
  @apply text-[white];
}

.carta_content .para {
  @apply leading-normal mt-[3%] font-roboto;

}

.carta_content .btn {
  @apply font-roboto;
  background: linear-gradient(-45deg, #069bf2 0%, #015281 100%);
}

.carta::before {
  text-decoration: #e8e8e8;
  background: linear-gradient(-45deg, #069bf2 0%, #015281 100%);
}

.carta:hover .btn {
  @apply text-[#212121];
  background: #e8e8e8;
}

.carta_content .btn:hover {
  outline: 2px solid #e8e8e8;
  background: transparent;
}

.Valores_title {
  @apply relative w-screen h-screen text-[32px] font-[2000] text-[#069bf2] tracking-[6px] mb-[-10%] flex flex-col justify-center items-center text-center opacity-0 -translate-x-5 mt-[15px] before:z-[-1] font-roboto;

  /* Añadir un z-index */

  /* Empieza fuera del área visible */
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.Valores_title::before,
.Valores_title::after {
  @apply content-[''] absolute w-full h-full left-0 top-0;
}

.video {
  @apply blur-[2px] brightness-[55%] z-[-1] absolute;
}

.textvalues {
  @apply font-ibm;
}

.Valores_title::before {
  background: url('/Aboutvideo.webm') center center / cover;

  /* Coloca la imagen detrás del contenido */
}

.Valores_title.active {
  @apply opacity-100 translate-y-0;
}

@media only screen and (max-width: 767px) {
  .Valores_title {
    @apply text-[22px];
  }
}

.Historia_valores {
  @apply flex items-center justify-center overflow-hidden m-0 pt-[4%] opacity-0 translate-y-[100px];
  background: linear-gradient(to bottom, rgba(57, 111, 152, 0));
}

.Historia_valores>div {
  @apply flex items-center text-center justify-center place-items-center;
}

.Historia_valores {
  /* Inicialmente establecemos la opacidad en 0 para que el formulario esté oculto */

  /* Desplazamos el formulario hacia abajo */
  transition: opacity 1s ease, transform 1s ease;

  /* Agregamos una transición de 1 segundo con efecto ease */
}

.Historia_valores.active {
  @apply opacity-100 translate-y-0;

  /* Cuando la clase active está presente, establecemos la opacidad en 1 */

  /* Volvemos a la posición original desplazando hacia arriba */
}

/* Estilo para cada carta individual dentro del formulario */
.Historia_valores .Cartas {
  @apply mb-5;

  /* Estilos para cada carta, ajusta según sea necesario */
}

.Cartas:hover {
  @apply text-black;
}

/*Boton css*/
.btn-conteiner {
  display: flex;
  justify-content: center;
  --color-text: #ffffff;
  --color-background: #1366ff;
  --color-outline: #0643b5;
  --color-shadow: #00000080;
}

.btn-content {
  @apply font-roboto;
  display: flex;
  align-items: center;
  padding: 5px 30px;
  text-decoration: none;
  font-weight: 500;
  font-size: 25px;
  color: var(--color-text);
  background: var(--color-background);
  transition: 1s;
  border-radius: 100px;
  box-shadow: 0 0 0.2em 0 var(--color-background);
}

.btn-content:hover,
.btn-content:focus {
  transition: 0.5s;
  -webkit-animation: btn-content 1s;
  animation: btn-content 1s;
  outline: 0.1em solid transparent;
  outline-offset: 0.2em;
  box-shadow: 0 0 0.4em 0 var(--color-background);
}

.btn-content .icon-arrow {
  transition: 0.5s;
  margin-right: 0px;
  transform: scale(0.6);
}

.btn-content:hover .icon-arrow {
  transition: 0.5s;
  margin-right: 25px;
}

.icon-arrow {
  width: 20px;
  margin-left: 15px;
  position: relative;
  top: 6%;
}

/* SVG */
#arrow-icon-one {
  transition: 0.4s;
  transform: translateX(-60%);
}

#arrow-icon-two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.btn-content:hover #arrow-icon-three {
  animation: color_anim 1s infinite 0.2s;
}

.btn-content:hover #arrow-icon-one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.btn-content:hover #arrow-icon-two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: var(--color-background);
  }

  100% {
    fill: white;
  }
}

/* Button animations */
@-webkit-keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

@keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

/*Segundo boton*/
.wrapper {
  @apply font-roboto;
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: -15px;
  margin-left: 10px;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(185, 80, 80, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;

  top: 0;
  font-size: 17px;
  background: #fff;
  color: #fff;
  width: 100px;
  height: 40px;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(250, 250, 250, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: relative;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper svg {
  fill: rgb(16, 75, 252);
}

.wrapper span:hover,
.wrapper svg:hover,
.wrapper .black:hover,
.wrapper .black:hover .tooltip,
.wrapper .black:hover .tooltip::before {
  background: rgb(249, 250, 252);
  color: rgb(48, 91, 248);
  fill: white;
}