---
import { Icon } from "astro-icon/components";
import Info from "@components/ui/Info.astro";
import Container from "@components/ui/Container.astro";
import Paragraph from "@components/ui/Paragraph.astro";
import Title from "@components/ui/Title.astro";
import { Picture } from "astro:assets";

import About from "@config/AboutUs.json";

interface AboutUs {
  title: string;
  description: string;
  icon: string;
}
---

<section class="max-lg:my-10" id="nosotros">
  <Container
    className="flex flex-col lg:flex-row gap-10 lg:gap-12 animate-fade-in-up timeline-view range-on-entry"
  >
    <div
      class="max-w-md mx-auto lg:mx-0 lg:pr-10 xl:pr-2 flex-1 flex w-11/12 lg:w-1/2"
    >
      <div class="w-full h-full sm:h-96 relative">
        <div
          class="absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-16 h-16 bg-gradient-to-br from-primary-700 to-accent-400 blur-3xl opacity-50"
        >
        </div>
        <div
          class="absolute p-1 -top-4 md:-top-10 right-0 w-20 h-20 bg-gradient-to-br from-primary-700 to-accent-400 rounded-full blur-3xl opacity-60"
        >
        </div>

        <span
          class="absolute w-full aspect-[16/5] -skew-x-12 rounded-full bg-gradient-to-tr from-primary-700 to-accent-400 opacity-40 blur-2xl left-0 bottom-0"
        ></span>
        <Picture
          src={"/images/SIGDO - POST-2.png"}
          alt="Banner "
          width="1240"
          height="1385"
          class="w-auto left-1/2 -translate-x-1/2 absolute bottom-0 max-h-full rounded-3xl"
          formats={["avif", "webp", "jpg", "png"]}
          fallbackFormat="jpg"
        />
      </div>
    </div>
    <div class="flex-1 flex lg:w-1/2 flex-col">
      <Title>
        ¿Por qué planificar con <span class="bg-gradient-text">SIGDOTEC?</span>
      </Title>
      <Paragraph className="mt-8">
        Con SIGDOTEC, puedes obtener tus planes de clase o de unidad de forma
        rápida y sencilla, cumpliendo con todos los contenidos y normativas
        estipuladas por el Ministerio de Educación de la República Dominicana
        (MINERD).
      </Paragraph>
      <div
        class="pt-8 grid grid-cols-2 items-center gap-4 max-w-3xl md:max-w-[none] max-sm:grid-cols-1 sm:gap-6"
      >
        {
          About.map((item: AboutUs) => (
            <Info description={item.description} title={item.title}>
              <Icon
                name={item.icon}
                class="w-4 h-4 sm:w-5 sm:h-5"
                slot="icon"
              />
            </Info>
          ))
        }
      </div>
    </div>
  </Container>
</section>
