---
import logo from "@assets/images/SIGDO-Logo/SIGDO-32.svg";
import LiteYoutube from "../ui/LiteYoutube.astro";
import background from "/public/SIGDOTEC-Presentation-Image.jpg";

import Button from "@components/ui/Button.astro";
import Container from "@components/ui/Container.astro";
import Paragraph from "@components/ui/Paragraph.astro";
---

<section class="relative pt-32 lg:pt-10 animate-fade-in">
  <Container className={"flex flex-col lg:flex-row gap-10 lg:gap-12"}>
    <div class="absolute w-full lg:w-1/2 inset-y-0 lg:right-0">
      <span
        class="absolute -left-6 md:left-4 top-24 lg:top-28 w-24 h-24 rotate-90 skew-x-12 rounded-3xl bg-primary-700 blur-xl opacity-60 lg:opacity-95 lg:block"
      ></span>
      <span
        class="absolute right-4 bottom-12 w-24 h-24 rounded-3xl bg-primary-700 blur-xl opacity-80"
      ></span>
    </div>
    <span
      class="w-4/12 lg:w-2/12 aspect-square bg-gradient-text absolute -top-5 lg:left-0 rounded-full skew-y-12 blur-2xl opacity-40 skew-x-12 rotate-90"
    ></span>
    <div
      class="relative flex flex-col items-center text-center lg:text-left lg:py-7 xl:py-8
        lg:items-start lg:max-w-none max-w-3xl mx-auto lg:mx-0 lg:flex-1 lg:w-1/2"
    >
      <h1
        class="text-3xl/tight -mb-8 lg:-mb-20 sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight
        font-bold"
      >
        ¿Quiénes somos?
      </h1>
      <h1
        class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight font-bold"
      >
        <span
          class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-20% via-primary-700 via-30% to-accent-400"
        >
          <span id="changingText" class="font-montserrat"></span>
          <span id="cursor">|</span>
        </span>
      </h1>
      <Paragraph className="mt-8">
        ¡Planificar desde 0 quedó en el pasado!
      </Paragraph>
      <div class="mt-10 w-full flex max-w-md mx-auto lg:mx-0">
        <div
          class="flex mx-0 sm:flex-row flex-col gap-2 w-full max-lg:justify-center lg:justufy-center"
        >
            <Button variant={"primary"} className={"min-w-max"} href="/app/">
              <span>Planificar</span>
            </Button>
            <Button
              variant={"secondary"}
              className={"min-w-max"}
              href="/#nosotros"
            >
              <span> Conocer Mas</span>
            </Button>
        </div>
      </div>
    </div>

    <div
      class="flex flex-1 lg:w-1/2 lg:h-auto relative lg:max-w-none lg:mx-0 mx-auto max-w-3xl"
    >
      <LiteYoutube videoId="QXrFgSi4khs" backgroundImage={background.src} />
    </div>
  </Container>
</section>

<script is:inline>
  let texts = ["¡SIGDOTEC!", "INOVACION", "TECNOLOGIA", "FUTURO", "CAMBIO"];
  let i = 0;
  let element = document.getElementById("changingText");
  let cursorElement = document.getElementById("cursor");
  let typingEffect = null;

  function startTypingEffect(text) {
    clearTimeout(typingEffect);
    let index = 0;

    function type() {
      if (index < text.length) {
        element.textContent += text.charAt(index);
        index++;
        typingEffect = setTimeout(type, 300);
      } else {
        // Start the delete effect after displaying the complete word
        setTimeout(deleteEffect, 1000); // Wait for 1000 milliseconds before deleting
      }
    }

    function deleteEffect() {
      if (index > 0) {
        element.textContent = text.substring(0, index - 1);
        index--;
        typingEffect = setTimeout(deleteEffect, 300); // Faster deletion effect (adjust as needed)
      } else {
        // Move to the next word and start typing again if it's not the last word
        typingEffect = null;
        i = (i + 1) % texts.length;
        if (i < texts.length) {
          startTypingEffect(texts[i]);
        }
      }
    }

    type();
  }

  startTypingEffect(texts[i]);

  setInterval(() => {
    cursorElement.style.visibility =
      cursorElement.style.visibility === "hidden" ? "" : "hidden";
  }, 600);
</script>
<style>
  h1 {
    @apply font-ibm;
    margin-top: 15%;
  }
  span {
    @apply font-ibm;
    margin-top: 15%;
  }
  .P {
    @apply font-ibm;
    margin-top: 15%;
  }
  .img {
    margin-top: 7%;
  }
  /* Additional styles for h1 go here */
</style>
