---
import Br from "@components/ui/Br.astro";
const faq = [
  {
    question: "¿Los planes de clase creados son todos iguales o son únicos?",
    answer:
      "Los planes de clase creados por nuestro servicio son únicos para cada solicitud. Cada uno incluye una secuencia didáctica, recursos y una actividad de evaluación personalizados.",
  },
  {
    question:
      "¿Puedo emplear el plan de clase creado por el servicio directamente en mis actividades docentes?",
    answer:
      "Los planes de clase cumplen con los requisitos establecidos por el Ministerio de Educación de la República Dominicana y están basados en los contenidos curriculares oficiales. Sin embargo, carecen del contexto específico de cada aula, por lo que recomendamos revisarlos y ajustarlos antes de utilizarlos directamente en sus actividades docentes.",
  },
  {
    question: "¿Soy dueño de los planes de clase que creo con la herramienta?",
    answer:
      "Tiene total libertad para usar los documentos creados con nuestro servicio como desee. Sin embargo, nos reservamos el derecho de utilizar los datos generados para mejorar nuestros servicios.",
  },
  {
    question: "¿Qué pasa si puse saldo extra en mi billetera?",
    answer:
      "Si ha realizado una recarga no deseada y fue aprobada por el sistema de pago de PayPal, tiene un plazo máximo de 24 horas para solicitar un reembolso a través de nuestro correo de contacto. En ese caso, nos pondremos en contacto con PayPal para revertir el depósito, siempre que el saldo recargado no haya sido consumido.",
  },
  {
    question: "¿Es seguro poner mis datos de tarjeta de débito o crédito?",
    answer:
      "Es totalmente seguro realizar transferencias con tarjetas de débito, crédito o cuentas de PayPal. Nuestro servicio no almacena estos datos y utiliza servicios de pago de terceros para garantizar la seguridad de su información.",
  },
  {
    question: "¿Por qué los planes anuales están incompletos?",
    answer:
      "Los planes anuales son versiones condensadas de los planes de clase completos que se pueden crear con nuestra herramienta. Por ello, tienen un costo mucho menor y no incluyen todas las características y añadidos de los planes de clase que se pueden crear con la web.",
  },
  {
    question: "¿Puedo eliminar mi cuenta de la plataforma?",
    answer:
      " Si desea eliminar su cuenta de manera definitiva, puede ponerse en contacto con nosotros a través de nuestro correo de contacto. Después de un proceso de validación de su identidad, eliminaremos toda su información de nuestras bases de datos, incluida su cuenta.",
  },
];
---

<section
  class="max-w-screen-md mx-auto px-4 sm:px-6 lg:px-8 flex flex-col justify-between py-4"
>
  <div class="text-center">
    <p class="mt-4 text-sm leading-7 text-white font-bold">
      Preguntas Frecuentes
    </p>
    <h3
      class="text-3xl sm:text-4xl leading-normal font-extrabold tracking-tight text-white"
    >
      Los que todos se <span class="bg-gradient-text">Preguntan</span>
    </h3>
    <Br />
  </div>

  <div class="mt-4">
    <ul>
      {
        faq.map((item) => (
          <li class="text-left mb-10">
            <div class="flex flex-row items-start mb-5">
              <div class="hidden sm:flex items-center justify-center p-3 mr-3 rounded-full bg-primary-700 text-white border-4 border-white text-xl font-semibold">
                <span
                  style="transform: rotateY(3.142rad);"
                  class="icon-[mdi--head-question-outline] w-[30px] h-[30px]"
                />
              </div>
              <div class="bg-gray-100 p-5 px-10 w-full flex items-center rounded">
                <h4 class="text-md leading-6 font-medium text-gray-900">
                  {item.question}
                </h4>
              </div>
            </div>

            <div class="flex flex-row items-start">
              <div class="bg-primary-200 p-5 px-10 w-full flex items-center rounded">
                <p class="text-gray-700 text-sm">{item.answer}</p>
              </div>
              <div class="hidden sm:flex items-center justify-center p-3 ml-3 rounded-full bg-white text-primary-700 border-4 border-primary-700 text-xl font-semibold">
                <span class="icon-[mdi--headset] w-[30px] h-[30px]" />
              </div>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</section>
