---
import { Picture } from "astro:assets";
import Container from "../ui/Container.astro";
import Paragraph from "../ui/Paragraph.astro";
import Title from "../ui/Title.astro";

import FeatureItems from "@config/Feature.json";

interface FeatureItem {
  title: string;
}
---

<section class="max-lg:my-10">
  <Container
    className="flex flex-col lg:flex-row gap-10 lg:gap-12 animate-fade-in-up timeline-view range-on-entry"
  >
    <div class="flex-1 flex lg:w-1/2 flex-col">
      <Title>
        Beneficios de realizar tus planificaciones con <span
          class="bg-gradient-text"
          >SIGDOTEC
        </span>
      </Title>
      <Paragraph className="mt-8 text-xl font-bold">
        ¿Qué puede aportar esta herramienta?
      </Paragraph>
      <Paragraph className="mt-8">
        SIGDOTEC busca ser una herramienta impulsada por IA para la creación de
        secuencias de clase personalizables y adaptables a las necesidades de
        los docentes.
      </Paragraph>

      <ul class="mt-8 space-y-4 text-heading-3 font-medium">
        {
          FeatureItems.map((item: FeatureItem) => (
            <li>
              <p>
                <span class="font-bold  bg-gray-800 rounded-full w-8 h-8 mr-3 text-primary-700 inline-flex justify-center items-center">
                  &checkmark;
                </span>{" "}
                {item.title}
              </p>
            </li>
          ))
        }
      </ul>
    </div>

    <div
      class="max-w-md mx-auto lg:mx-0 lg:pr-10 xl:pr-2 flex-1 flex w-11/12 lg:w-1/2 max-lg:hidden"
    >
      <div class="w-full h-full relative">
        <div
          class="absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-16 h-16 bg-gradient-text blur-3xl opacity-50"
        >
        </div>
        <div
          class="absolute p-1 -top-4 md:-top-10 right-0 w-20 h-20 bg-gradient-to-br from-primary-700 to-secondary-950 rounded-full blur-3xl opacity-60"
        >
        </div>

        <span
          class="absolute w-full aspect-[16/5] -skew-x-12 rounded-full bg-gradient-text opacity-40 blur-2xl left-0 bottom-0"
        ></span>
        <Picture
          src={"/images/SIGDO - POST-3.png"}
          alt="banner image"
          width="1240"
          height="1385"
          class="w-auto left-1/2 -translate-x-1/2 absolute bottom-0 max-h-full rounded-3xl"
          formats={["avif", "webp", "jpg", "png"]}
          fallbackFormat="jpg"
        />
      </div>
    </div>
  </Container>
</section>
