---
import Layout from '@layouts/Layout.astro'
//!TODO: Convertir a Tailwind, y sacar los estilos a una hoja aparte
//Crear imagen OpenGraph para esta pagina
---

<Layout title='Error 404' description='La direccion ya dada no existe'>
  <!--dust particel-->
  <div>
    <div class='starsec'></div>
    <div class='starthird'></div>
    <div class='starfourth'></div>
    <div class='starfifth'></div>
  </div>
  <!--Dust particle end--->

  <div class=' overflow-hidden'>
    <div class='lamp'>
      <div class='cable'></div>
      <div class='cover'></div>
      <div class='in-cover'>
        <div class='bulb'></div>
      </div>
      <div
        class='light w-[200px] h-0 absolute z-[1] mx-auto my-0 rounded-[90px_90px_0px_0px] border-b-[900px] border-b-[rgb(44_255_255_/_24%)] border-x-[50px] border-x-transparent border-solid top-[270px] inset-x-0;'
      >
      </div>
    </div>
  </div>
  <!-- END Lamp -->
  <section
    class='pt-0 min-h-screen relative box-border w-full h-full text-center px-0 font-montserrat'
  >
    <!-- Content -->
    <div
      class='error__content top-[25%] absolute w-full -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4;'
    >
      <div class='error__message message text-center'>
        <h1
          class='font-black uppercase text-5xl px-4 mb-4 font-montserrat'
        >
          Error:<strong class='bg-gradient-text'> 404</strong> Pagina No Encontrada
        </h1>
        <p
          class='leading-[42px] text-lg max-w-[780px] font-montserrat m-auto px-16 py-0'
        >
          Lo sentimos pero la pagina que buscas no existe, por favor regresa a
          la pagina principal.
        </p>
      </div>
      <div class='e-nav max-w-[600px] text-center mt-10 mb-0 mx-auto'>
        <a href='/' class='e-nav__link'></a>
      </div>
    </div>
    <!-- END Content -->
  </section>
</Layout>

<style>
  .starsec {
    content: ' ';
    position: absolute;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow:
      571px 173px #00bcd4,
      1732px 143px #00bcd4,
      1745px 454px #ff5722,
      234px 784px #00bcd4,
      1793px 1123px #ff9800,
      1076px 504px #03a9f4,
      633px 601px #ff5722,
      350px 630px #ffeb3b,
      1164px 782px #00bcd4,
      76px 690px #3f51b5,
      1825px 701px #cddc39,
      1646px 578px #ffeb3b,
      544px 293px #2196f3,
      445px 1061px #673ab7,
      928px 47px #00bcd4,
      168px 1410px #8bc34a,
      777px 782px #9c27b0,
      1235px 1941px #9c27b0,
      104px 1690px #8bc34a,
      1167px 1338px #e91e63,
      345px 1652px #009688,
      1682px 1196px #f44336,
      1995px 494px #8bc34a,
      428px 798px #ff5722,
      340px 1623px #f44336,
      605px 349px #9c27b0,
      1339px 1344px #673ab7,
      1102px 1745px #3f51b5,
      1592px 1676px #2196f3,
      419px 1024px #ff9800,
      630px 1033px #4caf50,
      1995px 1644px #00bcd4,
      1092px 712px #9c27b0,
      1355px 606px #f44336,
      622px 1881px #cddc39,
      1481px 621px #9e9e9e,
      19px 1348px #8bc34a,
      864px 1780px #e91e63,
      442px 1136px #2196f3,
      67px 712px #ff5722,
      89px 1406px #f44336,
      275px 321px #009688,
      592px 630px #e91e63,
      1012px 1690px #9c27b0,
      1749px 23px #673ab7,
      94px 1542px #ffeb3b,
      1201px 1657px #3f51b5,
      1505px 692px #2196f3,
      1799px 601px #03a9f4,
      656px 811px #00bcd4,
      701px 597px #00bcd4,
      1202px 46px #ff5722,
      890px 569px #ff5722,
      1613px 813px #2196f3,
      223px 252px #ff9800,
      983px 1093px #f44336,
      726px 1029px #ffc107,
      1764px 778px #cddc39,
      622px 1643px #f44336,
      174px 1559px #673ab7,
      212px 517px #00bcd4,
      340px 505px #fff,
      1700px 39px #fff,
      1768px 516px #f44336,
      849px 391px #ff9800,
      228px 1824px #fff,
      1119px 1680px #ffc107,
      812px 1480px #3f51b5,
      1438px 1585px #cddc39,
      137px 1397px #fff,
      1080px 456px #673ab7,
      1208px 1437px #03a9f4,
      857px 281px #f44336,
      1254px 1306px #cddc39,
      987px 990px #4caf50,
      1655px 911px #00bcd4,
      1102px 1216px #ff5722,
      1807px 1044px #fff,
      660px 435px #03a9f4,
      299px 678px #4caf50,
      1193px 115px #ff9800,
      918px 290px #cddc39,
      1447px 1422px #ffeb3b,
      91px 1273px #9c27b0,
      108px 223px #ffeb3b,
      146px 754px #00bcd4,
      461px 1446px #ff5722,
      1004px 391px #673ab7,
      1529px 516px #f44336,
      1206px 845px #cddc39,
      347px 583px #009688,
      1102px 1332px #f44336,
      709px 1756px #00bcd4,
      1972px 248px #fff,
      1669px 1344px #ff5722,
      1132px 406px #f44336,
      320px 1076px #cddc39,
      126px 943px #ffeb3b,
      263px 604px #ff5722,
      1546px 692px #f44336;
    animation: animStar 150s linear infinite;
  }

  .starthird {
    content: ' ';
    position: absolute;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow:
      571px 173px #00bcd4,
      1732px 143px #00bcd4,
      1745px 454px #ff5722,
      234px 784px #00bcd4,
      1793px 1123px #ff9800,
      1076px 504px #03a9f4,
      633px 601px #ff5722,
      350px 630px #ffeb3b,
      1164px 782px #00bcd4,
      76px 690px #3f51b5,
      1825px 701px #cddc39,
      1646px 578px #ffeb3b,
      544px 293px #2196f3,
      445px 1061px #673ab7,
      928px 47px #00bcd4,
      168px 1410px #8bc34a,
      777px 782px #9c27b0,
      1235px 1941px #9c27b0,
      104px 1690px #8bc34a,
      1167px 1338px #e91e63,
      345px 1652px #009688,
      1682px 1196px #f44336,
      1995px 494px #8bc34a,
      428px 798px #ff5722,
      340px 1623px #f44336,
      605px 349px #9c27b0,
      1339px 1344px #673ab7,
      1102px 1745px #3f51b5,
      1592px 1676px #2196f3,
      419px 1024px #ff9800,
      630px 1033px #4caf50,
      1995px 1644px #00bcd4,
      1092px 712px #9c27b0,
      1355px 606px #f44336,
      622px 1881px #cddc39,
      1481px 621px #9e9e9e,
      19px 1348px #8bc34a,
      864px 1780px #e91e63,
      442px 1136px #2196f3,
      67px 712px #ff5722,
      89px 1406px #f44336,
      275px 321px #009688,
      592px 630px #e91e63,
      1012px 1690px #9c27b0,
      1749px 23px #673ab7,
      94px 1542px #ffeb3b,
      1201px 1657px #3f51b5,
      1505px 692px #2196f3,
      1799px 601px #03a9f4,
      656px 811px #00bcd4,
      701px 597px #00bcd4,
      1202px 46px #ff5722,
      890px 569px #ff5722,
      1613px 813px #2196f3,
      223px 252px #ff9800,
      983px 1093px #f44336,
      726px 1029px #ffc107,
      1764px 778px #cddc39,
      622px 1643px #f44336,
      174px 1559px #673ab7,
      212px 517px #00bcd4,
      340px 505px #fff,
      1700px 39px #fff,
      1768px 516px #f44336,
      849px 391px #ff9800,
      228px 1824px #fff,
      1119px 1680px #ffc107,
      812px 1480px #3f51b5,
      1438px 1585px #cddc39,
      137px 1397px #fff,
      1080px 456px #673ab7,
      1208px 1437px #03a9f4,
      857px 281px #f44336,
      1254px 1306px #cddc39,
      987px 990px #4caf50,
      1655px 911px #00bcd4,
      1102px 1216px #ff5722,
      1807px 1044px #fff,
      660px 435px #03a9f4,
      299px 678px #4caf50,
      1193px 115px #ff9800,
      918px 290px #cddc39,
      1447px 1422px #ffeb3b,
      91px 1273px #9c27b0,
      108px 223px #ffeb3b,
      146px 754px #00bcd4,
      461px 1446px #ff5722,
      1004px 391px #673ab7,
      1529px 516px #f44336,
      1206px 845px #cddc39,
      347px 583px #009688,
      1102px 1332px #f44336,
      709px 1756px #00bcd4,
      1972px 248px #fff,
      1669px 1344px #ff5722,
      1132px 406px #f44336,
      320px 1076px #cddc39,
      126px 943px #ffeb3b,
      263px 604px #ff5722,
      1546px 692px #f44336;
    animation: animStar 10s linear infinite;
  }

  .starfourth {
    content: ' ';
    position: absolute;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow:
      571px 173px #00bcd4,
      1732px 143px #00bcd4,
      1745px 454px #ff5722,
      234px 784px #00bcd4,
      1793px 1123px #ff9800,
      1076px 504px #03a9f4,
      633px 601px #ff5722,
      350px 630px #ffeb3b,
      1164px 782px #00bcd4,
      76px 690px #3f51b5,
      1825px 701px #cddc39,
      1646px 578px #ffeb3b,
      544px 293px #2196f3,
      445px 1061px #673ab7,
      928px 47px #00bcd4,
      168px 1410px #8bc34a,
      777px 782px #9c27b0,
      1235px 1941px #9c27b0,
      104px 1690px #8bc34a,
      1167px 1338px #e91e63,
      345px 1652px #009688,
      1682px 1196px #f44336,
      1995px 494px #8bc34a,
      428px 798px #ff5722,
      340px 1623px #f44336,
      605px 349px #9c27b0,
      1339px 1344px #673ab7,
      1102px 1745px #3f51b5,
      1592px 1676px #2196f3,
      419px 1024px #ff9800,
      630px 1033px #4caf50,
      1995px 1644px #00bcd4,
      1092px 712px #9c27b0,
      1355px 606px #f44336,
      622px 1881px #cddc39,
      1481px 621px #9e9e9e,
      19px 1348px #8bc34a,
      864px 1780px #e91e63,
      442px 1136px #2196f3,
      67px 712px #ff5722,
      89px 1406px #f44336,
      275px 321px #009688,
      592px 630px #e91e63,
      1012px 1690px #9c27b0,
      1749px 23px #673ab7,
      94px 1542px #ffeb3b,
      1201px 1657px #3f51b5,
      1505px 692px #2196f3,
      1799px 601px #03a9f4,
      656px 811px #00bcd4,
      701px 597px #00bcd4,
      1202px 46px #ff5722,
      890px 569px #ff5722,
      1613px 813px #2196f3,
      223px 252px #ff9800,
      983px 1093px #f44336,
      726px 1029px #ffc107,
      1764px 778px #cddc39,
      622px 1643px #f44336,
      174px 1559px #673ab7,
      212px 517px #00bcd4,
      340px 505px #fff,
      1700px 39px #fff,
      1768px 516px #f44336,
      849px 391px #ff9800,
      228px 1824px #fff,
      1119px 1680px #ffc107,
      812px 1480px #3f51b5,
      1438px 1585px #cddc39,
      137px 1397px #fff,
      1080px 456px #673ab7,
      1208px 1437px #03a9f4,
      857px 281px #f44336,
      1254px 1306px #cddc39,
      987px 990px #4caf50,
      1655px 911px #00bcd4,
      1102px 1216px #ff5722,
      1807px 1044px #fff,
      660px 435px #03a9f4,
      299px 678px #4caf50,
      1193px 115px #ff9800,
      918px 290px #cddc39,
      1447px 1422px #ffeb3b,
      91px 1273px #9c27b0,
      108px 223px #ffeb3b,
      146px 754px #00bcd4,
      461px 1446px #ff5722,
      1004px 391px #673ab7,
      1529px 516px #f44336,
      1206px 845px #cddc39,
      347px 583px #009688,
      1102px 1332px #f44336,
      709px 1756px #00bcd4,
      1972px 248px #fff,
      1669px 1344px #ff5722,
      1132px 406px #f44336,
      320px 1076px #cddc39,
      126px 943px #ffeb3b,
      263px 604px #ff5722,
      1546px 692px #f44336;
    animation: animStar 50s linear infinite;
  }

  .starfifth {
    content: ' ';
    position: absolute;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow:
      571px 173px #00bcd4,
      1732px 143px #00bcd4,
      1745px 454px #ff5722,
      234px 784px #00bcd4,
      1793px 1123px #ff9800,
      1076px 504px #03a9f4,
      633px 601px #ff5722,
      350px 630px #ffeb3b,
      1164px 782px #00bcd4,
      76px 690px #3f51b5,
      1825px 701px #cddc39,
      1646px 578px #ffeb3b,
      544px 293px #2196f3,
      445px 1061px #673ab7,
      928px 47px #00bcd4,
      168px 1410px #8bc34a,
      777px 782px #9c27b0,
      1235px 1941px #9c27b0,
      104px 1690px #8bc34a,
      1167px 1338px #e91e63,
      345px 1652px #009688,
      1682px 1196px #f44336,
      1995px 494px #8bc34a,
      428px 798px #ff5722,
      340px 1623px #f44336,
      605px 349px #9c27b0,
      1339px 1344px #673ab7,
      1102px 1745px #3f51b5,
      1592px 1676px #2196f3,
      419px 1024px #ff9800,
      630px 1033px #4caf50,
      1995px 1644px #00bcd4,
      1092px 712px #9c27b0,
      1355px 606px #f44336,
      622px 1881px #cddc39,
      1481px 621px #9e9e9e,
      19px 1348px #8bc34a,
      864px 1780px #e91e63,
      442px 1136px #2196f3,
      67px 712px #ff5722,
      89px 1406px #f44336,
      275px 321px #009688,
      592px 630px #e91e63,
      1012px 1690px #9c27b0,
      1749px 23px #673ab7,
      94px 1542px #ffeb3b,
      1201px 1657px #3f51b5,
      1505px 692px #2196f3,
      1799px 601px #03a9f4,
      656px 811px #00bcd4,
      701px 597px #00bcd4,
      1202px 46px #ff5722,
      890px 569px #ff5722,
      1613px 813px #2196f3,
      223px 252px #ff9800,
      983px 1093px #f44336,
      726px 1029px #ffc107,
      1764px 778px #cddc39,
      622px 1643px #f44336,
      174px 1559px #673ab7,
      212px 517px #00bcd4,
      340px 505px #fff,
      1700px 39px #fff,
      1768px 516px #f44336,
      849px 391px #ff9800,
      228px 1824px #fff,
      1119px 1680px #ffc107,
      812px 1480px #3f51b5,
      1438px 1585px #cddc39,
      137px 1397px #fff,
      1080px 456px #673ab7,
      1208px 1437px #03a9f4,
      857px 281px #f44336,
      1254px 1306px #cddc39,
      987px 990px #4caf50,
      1655px 911px #00bcd4,
      1102px 1216px #ff5722,
      1807px 1044px #fff,
      660px 435px #03a9f4,
      299px 678px #4caf50,
      1193px 115px #ff9800,
      918px 290px #cddc39,
      1447px 1422px #ffeb3b,
      91px 1273px #9c27b0,
      108px 223px #ffeb3b,
      146px 754px #00bcd4,
      461px 1446px #ff5722,
      1004px 391px #673ab7,
      1529px 516px #f44336,
      1206px 845px #cddc39,
      347px 583px #009688,
      1102px 1332px #f44336,
      709px 1756px #00bcd4,
      1972px 248px #fff,
      1669px 1344px #ff5722,
      1132px 406px #f44336,
      320px 1076px #cddc39,
      126px 943px #ffeb3b,
      263px 604px #ff5722,
      1546px 692px #f44336;
    animation: animStar 80s linear infinite;
  }
  @keyframes animStar {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-2000px);
    }
  }

  :focus {
    outline: 0;
  }

  .clearfix:before,
  .clearfix:after {
    @apply content-['\0020'] block h-0 invisible;
     clear: both;
  }
  .clearfix {
    zoom: 1;
  }

  /* 2. CONTENT */
  /***********************************/
  /* 2.1. Section error */

  .e-nav__link {
    @apply h-[45px] leading-[45px] w-[170px] inline-block align-top border no-underline uppercase text-[11px] tracking-[0.1rem] relative overflow-hidden mx-[15px] my-0 border-solid font-montserrat rounded-md;
  }

  .e-nav__link:before {
    @apply content-[''] h-[200px] absolute w-[260px] transition-all duration-[0.3s] rotate-[50deg] right-[70px] top-[70px] bg-primary-800 z-[1];
  }

  .e-nav__link:after {
    @apply transition-all duration-[0.3s] z-[999] relative;
  }

  .e-nav__link:after {
    @apply content-['Pagina_de_Inicio'];
  }

  .e-nav__link:hover:before {
    @apply top-[-60px] right-[-50px];
  }

  
  /* 2.3. Lamp */
  .lamp {
    @apply absolute w-[300px] flex flex-col items-center origin-center animate-[move_5.1s_infinite] mx-auto my-0 top-0 inset-x-0;
    animation-timing-function: cubic-bezier(0.6, 0, 0.38, 1);
    zoom: 1;
  }

  @keyframes move {
    0% {
      transform: rotate(40deg);
    }
    50% {
      transform: rotate(-40deg);
    }
    100% {
      transform: rotate(40deg);
    }
  }

  .cable {
    @apply w-2 h-[248px] bg-[linear-gradient(rgb(32_148_218_/_70%),rgb(193_65_25)),linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7))];
  }

  .cover {
    @apply w-[200px] h-20 relative z-50 bg-primary-700 rounded-t-[50%];
  }

  .in-cover {
    @apply w-full max-w-[200px] h-5 absolute bottom-[-9px] z-50 mx-auto my-0 rounded-[100%] inset-x-0 bg-accent-400;
  }
  .in-cover .bulb {
    @apply w-[50px] h-[50px] bg-accent-200 absolute shadow-[0_0_25px_7px_rgb(127_255_255_/_80%),0_0_64px_47px_rgba(0,255,255,0.5),0px_0_30px_15px_rgba(0,255,255,0.2)] mx-auto my-0 rounded-[50%] -bottom-5 inset-x-0;
    -webkit-box-shadow:
      0 0 15px 7px rgba(0, 255, 255, 0.8),
      0 0 40px 25px rgba(0, 255, 255, 0.5),
      -75px 0 30px 15px rgba(0, 255, 255, 0.2);
  }

  /***********************************
			/* 3. RESPONSIVE */
  /***********************************/

  @media (max-width: 750px) {
    .error__content {
      @apply static mx-auto my-0 pt-[300px];
      transform: none;
    }
    .error {
      @apply h-screen pt-0 pb-[100px];
    }
  }
  @media (max-width: 650px) {
    .message__title {
      @apply pb-5;
    }
    .message__text {
      @apply text-base leading-loose px-5;
    }
    .error__content {
      @apply pt-[180px];
    }
  }
</style>
