---
import { SignInForm } from "@/components/Login";

import Logo from "@/components/ui/Logo.astro";
import Layout from "@layouts/Layout.astro";

import { Toaster } from "sonner";

import SocialSingUp from "@/components/SocialSingUp.astro";
---

<Layout
  title="Inicia Sesión"
  description="Inicia Sesión para poder tener tu plan de clases"
>
  <section class="mt-6">
    <div
      class="mx-auto max-w-lg space-y-6 border rounded-2xl p-6 bg-gray-800  shadow-2xl border-gray-700"
    >
      <div class="space-y-2 text-center">
        <div class="flex justify-center mb-4">
          <Logo variant="primary" size="w-32" loading={"eager"} />
        </div>
        <h1 class="text-3xl font-bold bg-gradient-text">Iniciar sesión</h1>
        <p class="text-muted-foreground">
          Ingresa tu correo electrónico para acceder a tu cuenta
        </p>
      </div>

      <div class="space-y-4">
        <SignInForm client:load />

        <SocialSingUp />
        <div class="flex justify-between">
          <a
            href="/auth/password-reset"
            class="inline-block text-sm underline hover:text-primary-800"
            title="Recuperar contraseña"
          >
            ¿Olvidaste tu contraseña?
          </a>
          <a
            href="/registrarse"
            class="inline-block text-sm underline hover:text-primary-800"
            title="Registrarse"
          >
            Registrarse
          </a>
        </div>
      </div>
    </div>
  </section>
  <Toaster
    richColors
    closeButton
    toastOptions={{
      classNames: {
        success: "bg-success-600",
        error: "bg-danger-600",
        loading: "bg-secondary-200",
      },
    }}
    client:only
  />
</Layout>
