---
import About from "@components/About/About.astro";
import Layout from "@layouts/Layout.astro";
import SobreNosotros from "@components/App/sobreNosotros";

import CTA from "@components/sections/CTA.astro";

import AboutA from "@components/sections/AboutA.astro";

---

<Layout
  title="Sobre Nosotros - SIGDOTEC"
  description="SIGDOTEC es una empresa de tecnología educativa que busca transformar la educación en la República Dominicana. Conoce más sobre nosotros."
  image="/og-sigdo.jpg"
>
  <AboutA />
  <section
    class="Valores_title relative w-screen h-screen text-[32px] font-bold tracking-[6px] my-[-10%] flex flex-col justify-center items-center text-center before:z-[-1] font-roboto after:content-[''] after:absolute after:w-full after:h-full left-0 top-0 before:content-[''] before:absolute before:w-full before:h-full before:left-0 before:top-0 text-white"
  >
    <div class="font-ibm">
      <h1>
        En{" "}
        <span class="bg-gradient-text uppercase font-bold"> SIDGOTEC</span>{" "}
      </h1>
      <h6>Los valores nos mueven</h6>
    </div>

    <video
      class="video max-md:h-72 object-cover blur-[2px] brightness-[55%] z-[-1] absolute"
      src="/Aboutvideo.webm"
      autoplay={true}></video>
  </section>
    
  <About />

  <CTA />
</Layout>
