---
import { SignUpForm } from "@/components/Register";

import Logo from "@/components/ui/Logo.astro";
import { Button } from "@/components/ui/button";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import { Toaster } from "sonner";
// import { RegisterB } from "@components/App/RegisterB";
// import { SignUpForm } from "@components/Register.tsx";

const user = Astro.locals.user;
console.log(user);
---

<Layout
  title="Registrate"
  description="Aqui te puedes registrar en para que puedas acceder tus planes de clase"
>

  <section class="mt-6">
    <div
      class="mx-auto max-w-lg space-y-6 border rounded-2xl p-6 dark:bg-gray-800 bg-gray-200 shadow-2xl dark:border-gray-700 border-gray-300"
    >
      <div class="space-y-2 text-center">
        <div class="flex justify-center mb-4">
          <Logo variant="primary" size="w-32" />
        </div>
        <h1 class="text-3xl font-bold bg-gradient-text">Registrarte</h1>
        <p class="text-muted-foreground">
          Crear una cuenta para crear tus planes de clase
        </p>
      </div>

      <div class="space-y-4">
        <SignUpForm client:load />

        <div class="grid grid-cols-3 gap-4">
          <a href="/api/auth/facebook">
          
            <Button
              client:load
              variant="outline"
              className="w-full dark:hover:bg-[#3b5998] hover:bg-[#3b5998] hover:text-white"
            >
              <Icon name="mdi:facebook" class="mr-2 h-6 w-6" />
  
              Facebook
            </Button>
          </a>
          <a href="/api/auth/github">
            <Button
              client:load
              variant="outline"
              className="w-full hover:text-white dark:hover:bg-[#333] hover:bg-[#333]"
            >
              <Icon name="mdi:github" class="mr-2 h-6 w-6 text-xl" />
              GitHub
            </Button>
          </a>
          <a href="/api/auth/google">
            <Button
              client:load
              variant="outline"
              className="w-full hover:text-white dark:hover:bg-[#ea4335] hover:bg-[#ea4335]"
            >
              <Icon name="mdi:google" class="mr-2 h-6 w-6" />
              Google
            </Button>
          </a>
        </div>
        <div class="flex justify-between">
          <p>
            ¿Ya tienes una cuenta?
            <a
              href="/login"
              class="inline-block text-sm underline hover:text-primary-800"
            >
              Iniciar Sesión
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <Toaster
    richColors
    closeButton
    toastOptions={{
      classNames: {
        success: "bg-success-600",
        error: "bg-danger-600",
        loading: "bg-secondary-200",
      },
    }}
    client:only
  />
  <!-- <RegisterB />  -->
</Layout>
