---
const { currentPage, totalPages, disablePrevious, disableNext } = Astro.props

interface Props {
  currentPage: number
  totalPages: number
  disablePrevious: boolean
  disableNext: boolean
}
---

<div class='flex justify-between mt-10'>
  <a
    href={'/blog/articulos?page=' + (currentPage - 1)}
    class={disablePrevious
      ? 'inline-block bg-gray-100 dark:bg-gray-800 px-3 py-2 text-gray-400 rounded-lg pointer-events-none'
      : 'inline-block bg-indigo-100 dark:bg-gray-700 px-3 py-2 hover:bg-primary-700 dark:hover:bg-primary-700 hover:text-white rounded-lg'}
  >
    Atras
  </a>
  <span
    class='inline-block bg-indigo-100 dark:bg-gray-700 px-3 py-2 rounded-lg'
  >
    Pagina {currentPage} de {totalPages}
  </span>
  <a
    href={'/blog/articulos?page=' + (currentPage + 1)}
    class={disableNext
      ? 'inline-block bg-gray-100 dark:bg-gray-700 px-3 py-2 text-gray-400 rounded-lg pointer-events-none'
      : 'inline-block bg-indigo-100 dark:bg-gray-700 px-3 py-2 hover:bg-primary-700 dark:hover:bg-primary-700  hover:text-white rounded-lg'}
  >
    Siguiente
  </a>
</div>
