---
import { Icon } from 'astro-icon/components'
import SocialList from '@components/ui/SocialList.astro'

import socials from "@config/SocialSigdo.json"
import FooterLinks from '@config/AppFooter.json'

interface FooterLink {
  name: string
  href: string
  icon: string
}
---

<footer
  class='p-4 my-6 mx-4  rounded-lg shadow md:flex md:items-center md:justify-between md:p-6 xl:p-8 bg-gray-800'
>
  <ul class='flex flex-wrap items-center mb-6 space-y-1 md:mb-0'>
    {
      FooterLinks.map((link: FooterLink) => (
        <li>
          <a
            href={link.href}
            class='mr-4 text-sm font-normal  hover:underline md:mr-6 text-gray-400 flex items-center space-x-2'
          >
            <Icon name={link.icon} />
            <span class=''> {link.name} </span>
          </a>
        </li>
      ))
    }
  </ul>
  <SocialList socials={socials} width='24' height='24' />
</footer>

<p class='my-10 text-sm text-center text-gray-500'>
  © 2023 <a
    href='https://sigdotec.com'
    class='hover:underline'
    target='_blank'>SIGDOTECH</a
  >. Todos los derechos reservados
</p>
