---
import { Icon } from "astro-icon/components";

import { isDev } from "@/utils";
import { Button } from "./ui/button";


---

<div class="grid grid-cols-2 gap-4">
    
    <a href="/api/auth/facebook">
        <Button
            variant={"outline"}
            className="w-full dark:hover:bg-[#3b5998] hover:bg-[#3b5998] hover:text-white"
        >
            <Icon name="mdi:facebook" class="mr-2 h-6 w-6" />

            Facebook
        </Button>
    </a>
    {
        isDev && (
            <a href="/api/auth/github">
                <Button
                    variant={"outline"}
                    className="w-full hover:text-white dark:hover:bg-[#333] hover:bg-[#333]"
                >
                    <Icon name="mdi:github" class="mr-2 h-6 w-6 text-xl" />
                    GitHub
                </Button>
            </a>
        )
    }
    <a href="/api/auth/google">
        <Button
            variant={"outline"}
            className="w-full hover:text-white dark:hover:bg-[#ea4335] hover:bg-[#ea4335]"
        >
            <Icon name="mdi:google" class="mr-2 h-6 w-6" />
            Google
        </Button>
    </a>
</div>
