---
import { Icon } from 'astro-icon/components'
import PayTable from './PayTable.astro'

// Junto con 2 decimales
const amount = Number(Astro.cookies.get('authjs.amount')?.value).toFixed(2)

// Aqui hacemos que cada $49 sea 1 plan y se redondee
const plansCuantity = Number(parseFloat(amount) / 49).toFixed(0)
---

<div class='lg:w-full'>
  <!-- Contenedor Principal -->
  <div class='lg:flex gap-4 items-stretch'>
    <!-- Caja Grande -->
    <div
      class='bg-white dark:bg-gray-700 md:p-2 p-6 rounded-lg border border-gray-200 mb-4 lg:mb-0 shadow-md lg:w-[35%]'
    >
      <div class='flex justify-center items-center space-x-5 h-full font-bold'>
        <div>
          <p>Saldo actual</p>
          <h2 class='text-3xl'>Planes: {plansCuantity}</h2>
          <p>${amount}</p>
        </div>
        <Icon name='mdi:wallet' class='text-9xl h-24 md:h-20 w-38' />
      </div>
    </div>

    <!-- Caja Blanca -->
    <div
      class='bg-white dark:bg-gray-700 p-4 rounded-lg xs:mb-4 max-w-full shadow-md lg:w-[65%]'
    >
      <!-- Cajas peque単as -->
      <form action="/api/pay/update-amount" class='flex flex-wrap justify-between h-full' method="POST">
        <!-- Caja peque単a 1 -->
        <button type="submit" 
          class='flex-1 dark:bg-primary-950 rounded-lg flex flex-col items-center justify-center p-4 space-y-2 border border-gray-200 m-2'
        >        
        <Icon name="carbon:piggy-bank" class='text-white text-4xl'>
          <p class='text-white'>Depositar</p>
        </button>

        <!-- Caja peque単a 2 -->
        <button type="submit" formmethod="PATCH"
          class='flex-1 dark:bg-primary-950 rounded-lg flex flex-col items-center justify-center p-4 space-y-2 border border-gray-200 m-2'
        >
        <Icon name="mdi:bank-transfer-out" class='text-white text-4xl'>
          <p class='text-white'>Transferir</p>
        </button>

        <!-- Caja peque単a 3 -->
        <button type="submit" 
          class='flex-1 dark:bg-primary-950 rounded-lg flex flex-col items-center justify-center p-4 space-y-2 border border-gray-200 m-2'
        >
        <Icon name="carbon:ibm-bluepay" class='text-white text-4xl'>
          <p class='text-white'>Canjear</p>
        </button>
      </form>
    </div>
  </div>
</div>
