---
import { capitalize } from '@utils/utils'

const { categories } = Astro.props

interface Props {
  categories: string[]
  className?: string
}
---

<div class='flex flex-wrap gap-2 text-center content-center'>
  {
    categories.map((category: string, index: number) => (
      <span
        class={
          index % 2 === 0
            ? 'px-2 py-1 bg-green-500 text-white rounded-full text-xs hover:opacity-90'
            : 'px-2 py-1 bg-primary-700 text-white rounded-full text-xs hover:opacity-90'
        }
      >
        <a class="font-bold" href={'/blog/category/' + category}>{capitalize(category)}</a>
      </span>
    ))
  }
</div>
