---
import Layout from '@layouts/Layout.astro'
import Container from '@components/ui/Container.astro'


const seo = {
  title: 'SIGDO Blog | Blog de Sigdo',
  description: 'Blog de Sigdo Web'
}

import { getCollection, getEntry } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import { ARTICLES_PER_PAGE } from '@utils/constans'

import { getEntries } from 'astro:content'
import SearchForm from './Blog/SearchForm.astro'
import Categories from './Blog/Categories.astro'
import MostRecentArticle from './Blog/MostRecentArticle.astro'
import ArticleCard from './Blog/ArticleCard.astro'

const allBlogArticles: CollectionEntry<'blog'>[] = (
  await getCollection('blog')
).filter((post) => !post.data.draft).sort(
  (a: CollectionEntry<'blog'>, b: CollectionEntry<'blog'>) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)

const categories = allBlogArticles
  .map((post) => post.data.category)
  .filter((value, index, self) => self.indexOf(value) === index)

const totalPages: number = Math.ceil(allBlogArticles.length / ARTICLES_PER_PAGE)

const mostRecentArticle: CollectionEntry<'blog'> = allBlogArticles[0]

const currentPage: number | null = +Astro.url.searchParams.get('page')! || 1

const articlesForPage: CollectionEntry<'blog'>[] = allBlogArticles.slice(
  (currentPage - 1) * ARTICLES_PER_PAGE,
  currentPage * ARTICLES_PER_PAGE
)


const author = await getEntry(articlesForPage[0].data.author)

const AuthorData = await getEntries([author])
---

<Layout {...seo}>
  <Container />
  <div class='grid grid-cols-1 gap-5 lg:grid-cols-2'>
    <div>
      <h1
        class='text-5xl font-bold mt-4 mb-8 leading-tight xl:text-6xl text-pretty'
      >
        Articulos, Historias y Tutoriales para todos ustedes <span
          class='bg-gradient-text'>SIGDCOPATA</span
        >
      </h1>

      <SearchForm />
      <div class='gap-6 flex py-3'>
        <h3 class='text-xl py-3'>Categorias:</h3>
        <Categories categories={categories} />
      </div>
    </div>
    <MostRecentArticle article={mostRecentArticle} />
  </div>

  <div
    class='grid grid-cols-1 mt-10 lg:mt-2 gap-4 sm:grid-cols-2 lg:grid-cols-3'
  >
    {
      articlesForPage.map((article) => (
        <ArticleCard article={article} authorData={AuthorData[0]} />
      ))
    }
  </div>
</Layout>
