---
import { Icon } from 'astro-icon/components'
---

<form
  autocomplete='off'
  id='search-form'
  class='flex items-center min-w-[200px]'
  action='/blog/search'
>
  <label for='search-input' class='sr-only'>Buscar</label>
  <div class='relative w-full'>
    <input
      type='text'
      id='query'
      name='query'
      class='bg-gray-50 dark:bg-gray-800 border border-gray-300 text-gray-900 dark:text-gray-100 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5'
      placeholder='Buscar Articulos...'
      required
    />
  </div>
  <button
    type='submit'
    class='p-2.5 ms-2 text-sm font-medium bg-primary-700 rounded-lg border border-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-indigo-300'
  >
    <Icon name='mdi:search' class='text-2xl' />
    <span class='sr-only'>Buscar</span>
  </button>
</form>
