---
import AppLayout from "@layouts/App/AppLayout.astro";
// import Pay from '@components/Payment/Pay.astro'
import { PaypalButtom, App } from "@components/Payment/PaypalButtom";

import { Icon } from "astro-icon/components";

import {
  Card,
  CardHeader,
  CardTitle,
  CardDescription,
  CardContent,
  CardFooter,
} from "@components/ui/card";
import { Button } from "@components/ui/button";
import { Input } from "@components/ui/input";
import { Label } from "@components/ui/label";

import { PaymentForm } from "@components/Payment/PaymetForm";
import { UNIT_PRICE } from "@/utils";

const user = Astro.locals.user;
if (!user) {
  return Astro.redirect("/iniciar-sesion", 302);
}
const balance: number = Number(user?.balance.toFixed(2) ?? 0);

// Junto con 2 decimales

// Aqui hacemos que cada $49 sea 1 plan y se redondee

const plans = Math.floor(balance / UNIT_PRICE);

import { TransactionalTable } from "@components/Tables/TransactionalsTable/DataTable";
import { Transaction } from "@components/Tables/TransactionalsTable/Transaction";

const TransactionalData = [
  {
    id: "1",
    date: "2021-10-01",
    userid: "31354215",
    type: "Paypal",
    amount: 49,
    transactionid: "123456gvfd",
  },
  {
    id: "2",
    date: "2021-10-02",
    userid: "31354215",
    type: "ACH",
    amount: 49,
    transactionid: "123456fhjd",
  },
  {
    id: "3",
    date: "2021-10-03",
    userid: "31354215",
    type: "ACH",
    amount: 200,
    transactionid: "123456fdkl",
  },
  {
    id: "1",
    date: "2021-10-01",
    userid: "31354215",
    type: "Paypal",
    amount: 49,
    transactionid: "123456gvfd",
  },
  {
    id: "2",
    date: "2021-10-02",
    userid: "31354215",
    type: "ACH",
    amount: 49,
    transactionid: "123456fhjd",
  },
  {
    id: "3",
    date: "2021-10-03",
    userid: "31354215",
    type: "ACH",
    amount: 200,
    transactionid: "123456fdkl",
  },
  {
    id: "1",
    date: "2021-10-01",
    userid: "31354215",
    type: "Paypal",
    amount: 49,
    transactionid: "123456gvfd",
  },
  {
    id: "2",
    date: "2021-10-02",
    userid: "31354215",
    type: "ACH",
    amount: 49,
    transactionid: "123456fhjd",
  },
  {
    id: "3",
    date: "2021-10-03",
    userid: "31354215",
    type: "ACH",
    amount: 200,
    transactionid: "123456fdkl",
  },
  {
    id: "1",
    date: "2021-10-01",
    userid: "31354215",
    type: "Paypal",
    amount: 49,
    transactionid: "123456gvfd",
  },
  {
    id: "2",
    date: "2021-10-02",
    userid: "31354215",
    type: "ACH",
    amount: 49,
    transactionid: "123456fhjd",
  },
  {
    id: "3",
    date: "2021-10-03",
    userid: "31354215",
    type: "ACH",
    amount: 200,
    transactionid: "123456fdkl",
  },
  {
    id: "1",
    date: "2021-10-01",
    userid: "31354215",
    type: "Paypal",
    amount: 49,
    transactionid: "123456gvfd",
  },
  {
    id: "2",
    date: "2021-10-02",
    userid: "31354215",
    type: "ACH",
    amount: 49,
    transactionid: "123456fhjd",
  },
  {
    id: "3",
    date: "2021-10-03",
    userid: "31354215",
    type: "ACH",
    amount: 200,
    transactionid: "123456fdkl",
  },
  {
    id: "1",
    date: "2021-10-01",
    userid: "31354215",
    type: "Paypal",
    amount: 49,
    transactionid: "123456gvfd",
  },
  {
    id: "2",
    date: "2021-10-02",
    userid: "31354215",
    type: "ACH",
    amount: 49,
    transactionid: "123456fhjd",
  },
  {
    id: "3",
    date: "2021-10-03",
    userid: "31354215",
    type: "ACH",
    amount: 200,
    transactionid: "123456fdkl",
  },
];
---

<AppLayout title="Cartera" description="Esta es tu Cartera">
  <Card
    className="w-full dark:bg-slate-800 border border-gray-200 dark:border-gray-700"
  >
    <CardHeader>
      <div class="flex justify-between">
        <div class="h-full gap-4">
          <CardTitle className="mb-2">Recargas anteriores</CardTitle>
          <CardDescription>
            Aquí puedes ver las recargas que has realizado anteriormente
          </CardDescription>
        </div>
        <div>
          <div class="flex items-center content-between h-full font-bold -my-2">
            <div>
              <h2 class="text-xl">Planes: {plans}</h2>
              <p>${balance} USD</p>
            </div>
            <Icon name="mdi:wallet" class="text-9xl h-24 md:h-20 w-38" />
          </div>
        </div>
      </div>
      <CardContent className="-p-6">
        <TransactionalTable data={TransactionalData} client:only />
      </CardContent>
    </CardHeader>
  </Card>
</AppLayout>
