---
import AppLayout from "@layouts/App/AppLayout.astro";
import DashboardCash from "@components/Dashboard/DashboardCash.astro";
// import Pay from '@components/Payment/Pay.astro'
import { PaypalButtom, App } from "@components/Payment/PaypalButtom";

import { Icon } from "astro-icon/components";
import WalletView from "@components/WalletView";
import Rechange from "@components/Rechange";
---

<AppLayout title="Cartera" description="Esta es tu Cartera">
  <DashboardCash />

  <div class="h-screen flex justify-center items-center">
    <PaypalButtom client:load />
    <App client:load />
  </div>
  <WalletView />
  <Rechange />
</AppLayout>
