---
import AppLayout from "@layouts/App/AppLayout.astro";

import { Icon } from "astro-icon/components";
import {
  Card,
  CardHeader,
  CardTitle,
  CardDescription,
  CardContent,
  CardFooter,
} from "@components/ui/card";
import { Button } from "@components/ui/button";
import { Input } from "@components/ui/input";
import { Label } from "@components/ui/label";
import { PaymentForm } from "@components/Payment/PaymetForm";
import { UNIT_PRICE } from "@/utils";
import { TransactionalTable } from "@components/Tables/TransactionalsTable/DataTable";
import { Pay } from "@/services/pay.services";
import NodeCache from "node-cache";
const user = Astro.locals.user;
if (!user) {
  return Astro.redirect("/iniciar-sesion", 302);
}
const balance: number = Number(user?.balance.toFixed(2) ?? 0);
const plans = Math.floor(balance / UNIT_PRICE);

// const transactions = await Pay.getTransactions(user?.id);

const cache = new NodeCache({ stdTTL: 300 });

let data = cache.get("transactions");

if (!data) {
  data = await Pay.getTransactions(user?.id);
  cache.set("transactions", data);

}
// const update = await Pay.createTransaction(user?.id, 49, "Paypal", "123456789");

---

<AppLayout title="Cartera" description="Esta es tu Cartera">
  <Card
    className="w-full dark:bg-slate-800 border border-gray-200 dark:border-gray-700"
  >
    <CardHeader>
      <div class="flex justify-between">
        <div class="h-full gap-4">
          <CardTitle className="mb-2">Recargas anteriores</CardTitle>
          <CardDescription>
            Aquí puedes ver las recargas que has realizado anteriormente
          </CardDescription>
        </div>
        <div>
          <div class="flex items-center content-between h-full font-bold -my-2">
            <div>
              <h2 class="text-xl">Planes: {plans}</h2>
              <p>${balance} USD</p>
            </div>
            <Icon name="mdi:wallet" class="text-9xl h-24 md:h-20 w-38" />
          </div>
        </div>
      </div>
      <CardContent className="-p-6">
        <TransactionalTable data={data} client:only />
      </CardContent>
    </CardHeader>
  </Card>
</AppLayout>
