---
import AppLayout from "@src/layouts/App/AppLayout.astro";
import {
        Card,
        CardHeader,
        CardTitle,
        CardDescription,
        CardContent,
        CardFooter,
} from "@/components/ui/card";
import { Button } from "@/components/ui/button";
import { Icon } from "astro-icon/components";
const PlansItems = [
        {
                title: "Plan de Unidad",
                description:
                        "Crea un plan de unidad que incluye todos los contenidos necesarios para una unidad temática específica.",
                includes: [
                        "Temas",
                        "Subtemas",
                        "Contenidos conceptuales, procedimentales y actitudinales",
                        "Indicadores de logro",
                        "Preguntas esenciales de la unidad",
                        "Actividad de motivación inicial para la introducción de la unidad",
                        "Situacion de aprendizaje con una estrategia transversal de trabajo",
                ],
                link: "/app/plan-unidad",
        },
        {
                title: "Plan de Clase",
                description:
                        "Elabora un plan de clase que ofrece una secuencia didáctica completa con todos los momentos clave para el desarrollo de un subtema de clase.",
                includes: [
                        "Subtemas",
                        "Competencia específica a desarrollar con la secuencia didáctica",
                        "Contenidos conceptuales, procedimentales y actitudinales",
                        "Indicadores de logro",
                        "Recursos para el desarrollo de la actividad de clase",
                        "Estrategia de evaluación de los aprendizajes adquiridos por los alumnos",
                        "Secuencia didáctica completa",
                        "Estrategia de enseñanza/aprendizaje",
                        "Intencion pedagogica de la clase",
                ],
                link: "/app/plan-clase",
        },
        {
                title: "Habla con tu Plan de Clase",
                description:
                        "Una forma más fácil y rápida de crear un plan de clase sin necesidad de especificar la asignatura, grado o tema en particular. Partiendo de un texto que describa la actividad de clase que deseas desarrollar, es posible obtener un plan de clase completo.",
                includes: [
                        "Subtemas",
                        "Competencia específica a desarrollar con la secuencia didáctica",
                        "Contenidos conceptuales, procedimentales y actitudinales",
                        "Indicadores de logro",
                        "Recursos para el desarrollo de la actividad de clase",
                        "Estrategia de evaluación de los aprendizajes adquiridos por los alumnos",
                        "Secuencia didáctica completa",
                ],
                link: "/app/plan-chat",
        },
        {
                title: "Plan Anual",
                description:
                        "Una solución rápida y económica para planificar todo un año escolar.",
                includes: [
                        "Todos los planes de clase asociados a un año y grado escolar",
                        "Subtemas",
                        "Competencia específica a desarrollar con la secuencia didáctica",
                        "Contenidos conceptuales, procedimentales y actitudinales",
                        "Indicadores de logro",
                        "Secuencia didáctica completa",
                ],
                link: "/app/plan-anual",
        },
];
---

<AppLayout
        title="Inicio"
        description="Estamos felices de tenerte SIGDCOPATA"
>
        <section class="grid grid-cols-1 lg:grid-cols-2 gap-8">
                {
                        PlansItems.map((item) => (
                                <Card className="flex flex-col dark:bg-slate-800 border border-gray-200 dark:border-gray-700 shadow-2xl">
                                        <CardHeader>
                                                <CardTitle className="">
                                                        {item.title}
                                                </CardTitle>
                                        </CardHeader>
                                        <CardContent className="flex-grow">
                                                <CardDescription>
                                                        <p class="text-sm">
                                                                {
                                                                        item.description
                                                                }
                                                        </p>
                                                        <h4 class="text-base my-2 font-bold">
                                                                Incluye:
                                                        </h4>
                                                        <ul class="text-base">
                                                                {item.includes.map(
                                                                        (
                                                                                include,
                                                                        ) => (
                                                                                <li class="flex items-center gap-2">
                                                                                        <Icon
                                                                                                name="mdi:check"
                                                                                                class="w-4 h-4 text-primary-800"
                                                                                        />
                                                                                        {
                                                                                                include
                                                                                        }
                                                                                </li>
                                                                        ),
                                                                )}
                                                        </ul>
                                                </CardDescription>
                                        </CardContent>
                                        <CardFooter>
                                                <a href={item.link}>
                                                        <Button className="dark:bg-primary-700 bg-primary-700 dark:hover:bg-primary-800 hover:bg-primary-800 text-white dark:text-white ">
                                                                Planificar
                                                        </Button>
                                                </a>
                                        </CardFooter>
                                </Card>
                        ))
                }
        </section>
</AppLayout>
