---
import AppLayout from "@layouts/App/AppLayout.astro";
import Avatar from "@components/ui/Avatar.astro";

import DemografyItem from "@components/ui/DemografyItem.astro";

const user = Astro.locals.user;
if (!user) {
  return Astro.redirect("/login", 302);
}

// Aqui buscamos los datos del usuario en la base de datos
import { db, eq, Demographic } from "astro:db";
const userDemografy = (
  await db.select().from(Demographic).where(eq(Demographic.id, user.id))
).at(0);

const demografydata = [
  {
    title: "Nombre del usuario",
    value: user?.username || "No username",
  },
  {
    title: "Fecha de Creacion",
    value: user?.createdAt || "No creation date",
  },
  {
    title: "Correo Electronico",
    value: user?.email || "No email",
  },
  {
    title: "Edad",
    value: userDemografy?.age + " años" || "No age",
  },
  {
    title: "Genero",
    value: userDemografy?.gender || "No gender",
  },
  {
    title: "Provincia",
    value: userDemografy?.province || "No province",
  },
  {
    title: "Lugar de Trabajo",
    value: userDemografy?.workingPlace || "No working place",
  },
  {
    title: "Asignatura Impartida",
    value: userDemografy?.subject || "No subject",
  },
  {
    title: "Rol",
    value: user?.role || "No role",
  },
];
---

<AppLayout title="Perfil" description="Cambia tu configuracion de Perfil">
  <div class="grid grid-cols-1 px-4 xl:grid-cols-3 xl:gap-4">
    <div class="mb-4 col-span-full xl:mb-2">
      <h1
        class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white"
      >
        Configuracion del Usuario
      </h1>
    </div>
    <!-- Right Content -->
    <div class="col-span-full xl:col-auto">
      <div
        class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800"
      >
        <div
          class="items-center sm:flex xl:block 2xl:flex sm:space-x-4 xl:space-x-0 2xl:space-x-4"
        >
          <div>
            <h3 class="mb-1 text-xl font-bold text-gray-900 dark:text-white">
              Foto de Perfil
            </h3>
          </div>
          {
            user?.userimage ? (
              <Avatar
                src={user?.userimage}
                alt={user?.username ?? ""}
                className="mb-4 rounded-lg w-28 h-28 sm:mb-0 xl:mb-4 2xl:mb-0"
              />
            ) : (
              <Avatar
                alt={user?.username ?? ""}
                className="mb-4 rounded-lg w-28 h-28 sm:mb-0 xl:mb-4 2xl:mb-0"
              />
            )
          }
        </div>
      </div>
      <div
        class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800"
      >
        <h3 class="mb-4 text-xl font-semibold dark:text-white">
          Cambiar Contraseña
        </h3>
        <form action="#">
          <div class="flex flex-col gap-6">
            <div class="col-span-6 sm:col-span-3">
              <label
                for="current-password"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Contraseña Anterior</label
              >
              <input
                type="text"
                name="current-password"
                id="current-password"
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                placeholder="••••••••"
                required=""
              />
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label
                for="password"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Nueva Contraseña</label
              >
              <input
                data-popover-target="popover-password"
                data-popover-placement="bottom"
                type="password"
                id="password"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="••••••••"
                required=""
              />
              <div
                data-popover=""
                id="popover-password"
                role="tooltip"
                class="absolute z-10 invisible inline-block text-sm font-light text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400"
                style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(477px, 2453px, 0px);"
                data-popper-placement="bottom"
                data-popper-reference-hidden=""
                data-popper-escaped=""
              >
                <div class="p-3 space-y-2">
                  <h3 class="font-semibold text-gray-900 dark:text-white">
                    Must have at least 6 characters
                  </h3>
                  <div class="grid grid-cols-4 gap-2">
                    <div class="h-1 bg-orange-300 dark:bg-orange-400"></div>
                    <div class="h-1 bg-orange-300 dark:bg-orange-400"></div>
                    <div class="h-1 bg-gray-200 dark:bg-gray-600"></div>
                    <div class="h-1 bg-gray-200 dark:bg-gray-600"></div>
                  </div>
                  <p>It’s better to have:</p>
                  <ul>
                    <li class="flex items-center mb-1">
                      <svg
                        class="w-4 h-4 mr-2 text-green-400 dark:text-green-500"
                        aria-hidden="true"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                        ><path
                          fill-rule="evenodd"
                          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                          clip-rule="evenodd"></path></svg
                      >
                      Upper &amp; lower case letters
                    </li>
                    <li class="flex items-center mb-1">
                      <svg
                        class="w-4 h-4 mr-2 text-gray-300 dark:text-gray-400"
                        aria-hidden="true"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                        ><path
                          fill-rule="evenodd"
                          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                          clip-rule="evenodd"></path></svg
                      >
                      A symbol (#$&amp;)
                    </li>
                    <li class="flex items-center">
                      <svg
                        class="w-4 h-4 mr-2 text-gray-300 dark:text-gray-400"
                        aria-hidden="true"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                        ><path
                          fill-rule="evenodd"
                          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                          clip-rule="evenodd"></path></svg
                      >
                      A longer password (min. 12 chars.)
                    </li>
                  </ul>
                </div>
                <div
                  data-popper-arrow=""
                  style="position: absolute; left: 0px; transform: translate3d(139px, 0px, 0px);"
                >
                </div>
              </div>
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label
                for="confirm-password"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Confimar Nueva Contraseña</label
              >
              <input
                type="text"
                name="confirm-password"
                id="confirm-password"
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                placeholder="••••••••"
                required=""
              />
            </div>
            <div class="col-span-6 sm:col-full">
              <button
                class="text-white bg-primary-700 w-full hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                type="submit">Guardar</button
              >
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- Left Content -->
    <div class="col-span-2">
      <div
        class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800"
      >
        <h3 class="mb-4 text-xl font-semibold dark:text-white">
          Informacion General del Usuario
        </h3>
        <div class="grid grid-cols-6 gap-6">
          {
            demografydata.map((item) => (
              <DemografyItem title={item.title} value={item.value} />
            ))
          }
        </div>
      </div>
    </div>
  </div>
  <!-- End of grid -->

</AppLayout>
