---
import AppLayout from "@layouts/App/AppLayout.astro";

import {PlanTable} from "@/components/App/PlanTable";
import PayTable from '@components/Dashboard/PayTable.astro'
// import Pay from '@components/Payment/Pay.astro'
import "@styles/globals.css";
---

<AppLayout title="Planes" description="Tus Planes de Clase">
  <!-- <PlanTable client:only /> -->
  <h2>Aqui estas todos los planes realizados anteriormente</h2>
  <div class="w-full">
    <PayTable />
  </div>
</AppLayout>