---
import AppLayout from "@src/layouts/App/AppLayout.astro";
---

<AppLayout
    title="Plan de Unidad"
    description="Estamos felices de tenerte SIGDCOPATA"
>
    <h2>Plan de Unidad</h2>
</AppLayout>
