---
import AppLayout from "@src/layouts/App/AppLayout.astro";
import { UnitPlan } from "@components/App/UnitPlan";
const user = Astro.locals.user;
import MultiSteps from "@components/App/MultiSteps";
import UnitPlanMultiSteps from "@components/UnitPlanMultiSteps";
console.log(user?.id)
---

<AppLayout
    title="Plan de Unidad"
    description="Estamos felices de tenerte SIGDCOPATA"
>
    <!-- <UnitPlan client:load userid={user?.id} />
    <h3>Aqui esta el unitplan multipasos</h3> -->
    <UnitPlanMultiSteps client:load transition:persist />
    <!-- <h3>Aqui esta el multipasos</h3>
    <MultiSteps client:only /> -->
</AppLayout>
