---
import AppLayout from "@src/layouts/App/AppLayout.astro";
---

<AppLayout
    title="Habla con tus Planes"
    description="Estamos felices de tenerte SIGDCOPATA"
>
    <h2>Habla con tus Planes</h2>
</AppLayout>
