---
import AppLayout from "@src/layouts/App/AppLayout.astro";
---

<AppLayout
    title="Plan de Clase"
    description="Estamos felices de tenerte SIGDCOPATA"
>
    <h2>Plan de Clase</h2>
</AppLayout>
