---

import AppLayout from '@layouts/App/AppLayout.astro'
import DashboardCash from '@components/Dashboard/DashboardCash.astro'
import PayTable from '@components/Dashboard/PayTable.astro'
// import Pay from '@components/Payment/Pay.astro'
const user = Astro.locals.user;
if (!user) {
  return Astro.redirect("/login");
}
---

<AppLayout title='Planes' description='Tus Planes de Clase'>
  <h2>Aqui estas todos los planes realizados anteriormente</h2>
  <div class="w-full">
    <!-- <PayTable /> -->
  </div>
</AppLayout>
