---
import AppLayout from "@src/layouts/App/AppLayout.astro";


---

<AppLayout
        title="Plan Anual"
        description="Estamos felices de tenerte SIGDCOPATA"
>
        <h2>Plan Anual</h2>
        
</AppLayout>
