---
//Todo esto esta siendo importado desde la dependencia fontsource
import '@fontsource/ibm-plex-sans'
// Supports weights 100-900
import '@fontsource-variable/montserrat'
import '@fontsource/roboto'

import BaseHead from './BaseHead.astro'

import Footer from './Footer/Footer.astro'
import NavBar from './NavBar/NavBar.astro'
import "@styles/globals.css"
/* Importacion de PWA
import { pwaInfo } from 'virtual:pwa-info';
*/

export interface Props {
  title?: string
  description?: string
  canonicalURL?: URL | string
  image?: string
  url?: URL | string
}
---

<!doctype html>
<html lang='es' class='text-white'>
  <head>
    <BaseHead {...Astro.props} />
    <!-- Importacion de PWA
			{ pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} /> }
    		<script src="/src/pwa.ts"></script> 
		-->
  </head>
  <body
    class='overflow-hidden overflow-y-auto text-white  bg-gray-900 font-montserrat '
  >
    <NavBar />
    <main class='flex flex-col md:gap-y-20 max-w-[1400px] mx-auto my-0'>
      <slot />
    </main>
    <Footer />
    <style is:global>
      body {
        scrollbar-color: #007fff #222;
      }
      /* Todavia lo siguiente seguira hasta que sea en todos los navegadores*/
      ::-webkit-scrollbar {
        width: 4px;
        color: #007fff;
        transition: all 0.4s ease;
      }
      ::-webkit-scrollbar-thumb {
        background: #007fff;
        border-radius: 5px;
        width: 4px;
        transition: all 0.4s ease;
      }
      ::-webkit-scrollbar-track {
        background: #222;
        border-radius: 4px;
        width: 4px;
      }
    </style>
  </body>
</html>
