---
import AppLayout from "@layouts/App/AppLayout.astro";
import AdminView from "@components/Admin/AdminView.astro";

// import { Dashboard } from "@/components/App/AdminView";


---



<AppLayout title='Admin View' description='Esta es la vista del administrador'>

  <AdminView />
  
  <div class="w-[900px]  grid grid-cols-1 md:grid-cols-2 bg-slate-200 mx-0">


  </div>
</AppLayout>
