---
import AppLayout from "@layouts/App/AppLayout.astro";
import AdminView from "@components/Admin/AdminView.astro";
// import PrimeTable from "@components/Admin/PrimeTable";

// import { Dashboard } from "@/components/App/AdminView";


---

<!-- <!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
  </head>
  <body>
    <Dashboard client:load />
     
  </body>
</html> -->

<AppLayout title='Admin View' description='Esta es la vista del administrador'>

  <AdminView />
  
  <div class="w-[900px]  grid grid-cols-1 md:grid-cols-2 bg-slate-200 mx-0">


  </div>
</AppLayout>
