---
import AppLayout from '@layouts/App/AppLayout.astro'
import UsersTable from '@components/Admin/UsersTable.astro'
// import CustomersDemo from '@components/Admin/CustomersTable'
---

<AppLayout
  title='Usuarios'
  description='Esta es la vista de administración de usuarios. Aquí puedes ver, editar y eliminar usuarios.'
>
  <div class='w-full'>
    <UsersTable />
  </div>
  <!-- <CustomersDemo client:load /> -->
</AppLayout>
