---
interface Props {
    title: string;
    value: string | Date | number | null | undefined;
}

const { title, value } = Astro.props;
---

<div class="col-span-6 sm:col-span-3">
    <h3
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white capitalize"
    >
        {title}
    </h3>
    <p
        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
    >
        {
            // Aqui hacemos que si el value es un tipo date lo formateamos
            title === "Fecha de Creacion"
                ? new Date(value).toLocaleDateString("es-ES", {
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                })
                : value || "No data"
        }
    </p>
</div>
