---
interface Props {
    title: string;
    value: string | Date | number | null | undefined;
}

const { title, value } = Astro.props;
---

<div class="col-span-6 sm:col-span-3">
    <h3
        class="block mb-2 text-sm font-medium  capitalize"
    >
        {title}
    </h3>
    <p
        class="shadow-sm  sm:text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white"
    >
        {
            value instanceof Date ||
            (typeof value === "string" && new Date(value).toString() !== "Invalid Date")
                ? new Date(value).toLocaleDateString(
                    "es-ES",
                    {
                        year: "numeric",
                        month: "long",
                        day: "numeric",
                    }
                )
                : value || "No data"
        }
    </p>
</div>
